
        <div class="sepH_b  spacer-right">
       		<label for="id" class="lbl_a">#Facebook ID : </label>
        	<input name="facebook_uid"  type="text"  value="" data-mode="eq" id="facebook_uid"  class="facebookfiltra inpt_a"  />
        </div>
        <div class="sepH_b  spacer-right">
        <label for="available" class="lbl_a">Φύλο: </label>
        	<select name="gender" id="gender" data-mode='eq' class="gender facebookfiltra inpt_d"  data-placeholder="Select one">
        		<option value="">&nbsp;</option>
        		<option value="0" >Άνδρας</option>
        		<option value="1" >Γυναίκα</option>
      		</select> 
        </div>
         <div class="sepH_b  spacer-right ">
         	<div class="dp50">
         			<label for="date" class="lbl_a float-left"> Βαθμοί {$lang.from}: </label><br></br>
        			<input type="text" name="points[]" data-mode="between"  class="facebookfiltra inpt_a" value="" />
         	</div>
         	<div class="dp50">
        			<label for="date" class="lbl_a float-left">Βαθμοί {$lang.to}: </label><br></br>
        			<input type="text" name="points[]" data-mode="between"  class="facebookfiltra inpt_a" value="" />    
        	</div>  	
        	<div class="clear"></div>
        </div>
        <div class="sepH_b  spacer-right ">
        	<label for="date" class="lbl_a float-left">Ημερομηνία Γέννησης: </label>
        	<input type="hidden" name="birthday[]" data-mode="between" id="birthfrom" class="facebookfiltra" value="" />
        	<input type="hidden" name="birthday[]" data-mode="between" id="birthto" class="facebookfiltra" value="" />
        	<div class="calendar float-left spacer-right clear" data-trigger="birthfrom"></div>	
     	  	<div class="calendar float-left" data-trigger="birthto" ></div>
     	  	<div class="clear"></div>
        </div>
     
        <input type="hidden" name="submitSearch" class="submitSearch" data-table="users_profile" value="facebookfiltra" />
        <script type="text/javascript" src="/scripts/plugins/facebook/users.js"></script>
          