<script id="id-commands-gridview" class="id-commands-gridview" type="text/kendo-ui-template">
		# if ( profile !== null ) { #
				# if ( profile.facebook_uid != "" && profile.facebook_uid != undefined  )  { #
				<span  id='#= id #' data-itemid='#= id #' class="fbdetails pointer"  ><img style="position:relative; top:3px; left:4px;" src="/skin/images/admin2/icons/fb-12.png" /></span>
				# } #
		# } #
</script>