<table cellpadding="3" cellspacing="0" class="widefat">
      <tr>
        <td colspan="8"><input name="button" type="button" onclick='javascript: if (confirm(&quot;{$lang.u_sure|strip_tags}&quot;)){ldelim}document.{$form_name}.action="{$MODULE_FOLDER}/mass_functions.php";document.{$form_name}.mode.value="first_activate"; document.{$form_name}.submit();{rdelim}' value="Activate Checked" />
          <input name="button" type="button" onclick='javascript: if(confirm(&quot;{$lang.u_sure|strip_tags}&quot;)){ldelim}document.{$form_name}.action="{$MODULE_FOLDER}/mass_functions.php";document.{$form_name}.mode.value="delete"; document.{$form_name}.submit();{rdelim}' value="Delete Checked" /></td>
      </tr>

<tr>
  <th scope="col"><input type="checkbox" id="total_check" name="ids[1]" onclick="check_all_boxes(this.form.check_values)" /></th>
  <th scope="col">ID</th>
  <th scope="col">&nbsp;</th>
  <th scope="col">{$lang.title}</th>
<th scope="col">{$lang.url}</th>
<th scope="col">{$lang.availability}</th>
</tr>

{section name=w loop=$items}
          <tr {cycle values="'FFFFFF', class='alternate'"}>
            <td><input name="ids[{$items[w].id}]" type="checkbox" id="check_values" value="1"></td>
            <td><strong>{$items[w].id}</strong></td>
            <td><img src="{$items[w].image}" /></td>
            <td><input type="text" name="product_title-{$items[w].id}" value="{$items[w].title}" onkeyup="document.getElementsByName('ids[{$items[w].id}]')[0].checked='true'" /></td>
            <td><input type="text" name="url-{$items[w].id}" value="{$items[w].url}" onkeyup="document.getElementsByName('ids[{$items[w].id}]')[0].checked='true'" /></td>
            <td align="center"><select name="active-{$items[w].id}" onchange="document.getElementsByName('ids[{$items[w].id}]')[0].checked='true'" />
        <option value="0" {if $items[w].active eq "0"}selected{/if}>{$lang.disabled}</option>
        <option value="1" {if $items[w].active eq "1"}selected{/if}>{$lang.enabled}</option>
      </select></td>
    </tr>
		  {/section}
      <tr>
        <td colspan="8"><input name="button" type="button" onclick='javascript: if (confirm(&quot;{$lang.u_sure|strip_tags}&quot;)){ldelim}document.{$form_name}.action="{$MODULE_FOLDER}/mass_functions.php";document.{$form_name}.mode.value="update"; document.{$form_name}.submit();{rdelim}' value="Update Checked" />
          <input name="button" type="button" onclick='javascript: if(confirm(&quot;{$lang.u_sure|strip_tags}&quot;)){ldelim}document.{$form_name}.action="{$MODULE_FOLDER}/mass_functions.php";document.{$form_name}.mode.value="delete"; document.{$form_name}.submit();{rdelim}' value="Delete Checked" />
       <input type="hidden" name="page" id="page" value="{$page}{if $QUERY_STRING}?{$QUERY_STRING}{/if}"> <input type="hidden" name="mode" id="mode" value=""></td></tr>
</table>