{include file="modules/manufacturers/admin/menu.tpl"}

<div class="wrap">
  <h2 class="tab">Manufacturers List</h2>
<br><br>
<form name="main_items_form" method="post">
{include file="modules/manufacturers/admin/display_items_table.tpl" items=$all_items type="edit" form_name="main_items_form" page="index.php"}
</form>
</div>