<ul id="adminmenu2">
	<li><a href="{$MODULE_FOLDER}/" {if $submenu eq "main"}class="current"{/if}>{$lang.home}</a></li>
	<li><a href="{$MODULE_FOLDER}/add_new.php" {if $submenu eq "add"}class="current"{/if}>Add Manufacturer</a></li>
	<li><a href="{$MODULE_FOLDER}/search.php" {if $submenu eq "modify"}class="current"{/if}>Modify Manufacturer</a></li>
	<li><a href="{$MODULE_FOLDER}/settings.php" {if $submenu eq "settings"}class="current"{/if}>Settings</a></li>
</ul>