{include file="modules/manufacturers/admin/menu.tpl"}
<img id="img" name="img" src="/images/no_photo.jpg"><br>
<form method="post" name="item_form">
{literal}
<input type="text" name="image" id="image" value="" /><button type="button" onClick="OpenFileBrowser('image', function(url) {document.item_form.image.value=url;document.getElementById('img').src=document.getElementById('image').value;}, function() {return document.item_form.image.value;} )">Choose Image...</button>
{/literal}
<div id="ec1" style="width:600px"><!-- editor 1 will be displayed here --></div>
<div id="ec2" style="width:800px"><!-- editor 1 will be displayed here --></div>
<div id="ec3"><!-- editor 1 will be displayed here --></div>
<p>
 		{$description->set_name('short_desc')}
		{$description->removebuttons('spacer3, spacer4')}
		{$description->set_code($product.description)}
		{$description->print_editor('100%', 150)}
<br><br>
<input type="submit" name="button" id="button" value="Submit">
</p>
</form>

{literal}
{/literal}