<script id="resultsTemplate" type="text/x-kendo-template">


# console.log(data[0].featured); #



# $.each(data[0].featured,function(k,a) { #


		# if (a.item.image_full != null ) { #
			# img = a.item.image_full.thumb; #
			<img src="#= img #" />
		# } #
		
		<div style="float:left;"><h3>#= a.item.title #</h3></div><br style="clear: both;"/>
		<div>#= a.item.description #</div>
		<div class="seperator"> </div>

# }); #

</script>

