<script id="resultsTemplate" type="text/x-kendo-template">


# $.each(data[0].item,function(k,a) { #

# if (a.image_full != null ) { #
	# img = a.image_full.thumb; #
	<a href="\\#" data-bind="click: doActions" data-method="actionUrl" data-href="/{$FRONT_LANG}/pages/#= a.id #/#= a.permalink #.html">Image gallery</a>

# permalink= a.permalink #
# } else { #
	# img= '' #
# } #
# id =a.id #
# catid =a.main_category.catid #
# }); #

<input type="hidden" name="category" value="#= catid #" />
<img src="#= img #"  class="share" data-picture="http://tetrapak.net-tomorrow.com#= img #"/>
<a href="\\#" class="shareForest">Share</a>


{include file="plugins/facebook/upload_form.tpl"}

# $.each(data[0].item,function(k,a) { #

		<div style="float:left;"  class="# if (k == 0 ) { # share # } #"  data-name="#= a.title #"><h3>#= a.title #</h3></div><br style="clear: both;"/>
		<div class="# if (k == 0 ) { # share # } #"  data-description="#= a.description #">#= a.description #</div>
		<div class="seperator"> </div>

# }); #


<input type="hidden" name="itemid" id="itemid" value="#= id #" />
<div id="comment-id">
	<div class="fb-comments" data-href="http://apps.facebook.com/fbtetrapak/\\#en/content/#= catid #/index.html" data-num-posts="5" data-width="470"></div> 
</div>

	<script>
		FB.XFBML.parse(document.getElementById("comment-id"));
	</script>
</script>
 <script src="/scripts/plugins/facebook/upload.js"></script>   