
<script id="resultsTemplate" type="text/x-kendo-template">

content Page Load
 
# console.log(data[0].item); #

<div id="GalleryWindow"></div>
<div id="listView"></div>
<div class="seperator"></div>
<div id="pager" class="k-pager-wrap"></div>


<script src="/scripts/plugins/facebook/gallery.js"></script>

</script>


