<ul>
<li>{if $section ne "modify"}<a href="{$MODULE_FOLDER}/locations_modify.php?id={$id}">{$lang.modify}</a>{else}<strong>{$lang.modify}</strong>{/if}</li>
<li>{if $section ne "detailed_images"}<a href="{$MODULE_FOLDER}/locations_modify_img.php?id={$id}">{$lang.media}</a>{else}<strong>{$lang.media}</strong>{/if}</li>
<li><a href="{$MODULE_FOLDER}/locations_modify_related.php?id={$id}">{$lang.related_locations}</a></li>
</ul>