<div id="success" class="msg_box msg_ok" style="display:none;"><img src="/skin/images/admin2/blank.gif" class="msg_close" alt="" /></div>
<div id="fail" class="msg_box msg_error" style="display:none;"><img src="/skin/images/admin2/blank.gif" class="msg_close" alt="" /></div>
<div style="padding-top:50px;">

Ενεργοποίηση χρήστη (username) : <input type="text" id="username"/> <a href="#" id="activate">GO</a>

</div>

<script type="text/javascript">
head.js("../scripts/admin2/activate_user.js");
</script>
