 
 <div class="msg_box msg_info">{$lang.selreceivers}<a htref="#"> ({$lang.change})</a> {$lang.totalcost} 0,30&euro;<img src="images/blank.gif" class="msg_close" alt="" /></div>
					 

<div class="box_c_content cf tabs_content">
<form id="userForm" action="" method="POST" class="formEl sepH_c">
					<div class="sepH_b" style="float:left;">
						<label class="lbl_a" for="a_select">{$lang.sendto} :</label>
								
				     <select id="selectlist" name="" >
				      <option>  </option>
                      <option id="allsms"> {$lang.alllists} </option>
                       {foreach from=$lists item=a}
                      <option value="{$a.id}" {if $a.id == $item.listid}selected{/if}>{$a.title}</option> 
                               {/foreach}        
                      </select>
				</div> 
				<div class="sepH_b" style="float:left; padding-left:10px;">
					<label class="lbl_a" for="a_select">{$lang.moremobile} :</label>
					 <select id="select4" name="select4">
           		    </select>
				</div> 
				<div class="sepH_b" style="float:left; padding-left:30px;">
					<label class="lbl_a" for="a_text">{$lang.sceduledel} :</label>
					<input type="text" class="inpt_b" value="1-2-2012 @ 15:30" name="a_text" id="a_text">
		</div>
					<br style="clear:both;"/>
								
	<label class="lbl_a" for="a_text">{$lang.smsmsg} :</label>
						 <textarea rows="2" id="sms" name="sms" cols="20" style="height:200px;"> </textarea>
                         <div class="seperator"></div>
                         <p> Characters : <span id="remaining">0</span>  <br />
  Messages : <span id="messages">0</span>
Unicode : <span id="unicode" style="color:red"></span>

</p>
						</form>

</div><!-- END TABS -->



<script type="text/javascript">
head.js("../scripts/admin2/jquery.tools.min.js");
head.js("../scripts/admin2/jquery_count.js");
head.js("../scripts/admin2/jquery.fcbkcomplete.min.js");
head.js("../scripts/admin2/counter.js");
head.js("../scripts/admin2/compose_sms.js");
</script>
<link rel="stylesheet" href="../skin/css/stylefacebook.css" type="text/css" media="screen" charset="utf-8" />
	

	
	
	