<script type="text/javascript" src="{$PATH}ckeditor/ckeditor.js"></script>
 
 <div class="msg_box msg_info">{$lang.selreceivers}<a htref="#"> ({$lang.change})</a> {$lang.totalcost} 0,30&euro;<img src="images/blank.gif" class="msg_close" alt="" /></div>
					 
<div class="box_c_heading cf">
<p class="fl">{$lang.selectService}</p>
<ul class="tabsS fr">
    <li><a href="#email" rel="0">{$lang.email}</a></li>
    <li><a href="#sms" rel="{$a.id}">{$lang.sms}</a></li>
</ul>
</div>
<div class="box_c_content cf tabs_content">
<div>
<form action="dashboard.html" method="post" class="formEl sepH_c" id="form_login">
					       <div class="sepH_b" style="float:left;">
								<label class="lbl_a" for="a_select">{$lang.sendto} :</label>
									<select id="selectlist" name="" >
									 <option>  </option>
                    		 		   <option id="allemails"> {$lang.alllists} </option>
                       					{foreach from=$lists item=a}
                    				    	<option value="{$a.id}" {if $a.id == $item.listid}selected{/if}>{$a.title}</option> 
                             			{/foreach}        
                     			    </select>
						 </div> 
							<div class="sepH_b" style="float:left; padding-left:10px;">
					 			  <label class="lbl_a" for="a_select">{$lang.addemails} :</label>
									<select id="select3" name="select3">
            						</select>
					     </div>
			<br style="clear:both;"/>
			<div class="sepH_b" style="float:left;">
					<label class="lbl_a" for="a_text">{$lang.emailtitle} :</label>
					<input type="text" class="inpt_a" name="a_text" id="a_text">
		</div>
		<div class="sepH_b" style="float:left; padding-left:30px;">
					<label class="lbl_a" for="a_text">{$lang.sceduledel} :</label>
					<input type="text" class="inpt_b" value="1-2-2012 @ 15:30" name="a_text" id="a_text">
		</div>
		<div  style="float:right; padding-top:20px;">
		  <a class="btn btn_d showtemplates" href="../ajax/select_template.php?action=open_iframe">{$lang.templsel}</a> 
		</div>
		<br style="clear:both;"/>
		<div style="float:left; position:relative; width:65%;">		
			<textarea cols="60" id="editor_kama" name="editor_kama" rows="5"></textarea>
			<script type="text/javascript">
			//<![CDATA[

				CKEDITOR.replace( 'editor_kama',
					{
						skin : 'kama'
					});
				

			//]]>
			</script>
			</div>
			<div style="float:left; padding-left:10px; position:relative; width:32%;" class="dp50">
			<div class="formEl_b">
				<fieldset>
						<legend>Οι εικόνες μου</legend>
						
                                                  <div style="width:360px; height:220px; overflow:auto; overflow-x: hidden;" id="userfiles"></div><br/>
                                                
                                                   <div class="lblSpace">
											<div id="file_uploader" class="cf">		
												<noscript>			
													<div >
													<input type="file" name="file_upload" id="upload"  />
													</div>
												</noscript>         
											</div>
										</div>
               

				</fieldset>
			</div>
	</div>
			
		 </form>
</div><!-- END TAB -->
<div>
<form id="userForm" action="" method="POST" class="formEl sepH_c">
					<div class="sepH_b" style="float:left;">
						<label class="lbl_a" for="a_select">{$lang.sendto} :</label>
								
				     <select id="selectlist" name="" >
				      <option>  </option>
                      <option id="allsms"> {$lang.alllists} </option>
                       {foreach from=$lists item=a}
                      <option value="{$a.id}" {if $a.id == $item.listid}selected{/if}>{$a.title}</option> 
                               {/foreach}        
                      </select>
				</div> 
				<div class="sepH_b" style="float:left; padding-left:10px;">
					<label class="lbl_a" for="a_select">{$lang.moremobile} :</label>
					 <select id="select4" name="select4">
           		    </select>
				</div> 
				<div class="sepH_b" style="float:left; padding-left:30px;">
					<label class="lbl_a" for="a_text">{$lang.sceduledel} :</label>
					<input type="text" class="inpt_b" value="1-2-2012 @ 15:30" name="a_text" id="a_text">
		</div>
					<br style="clear:both;"/>
			<div class="sepH_b">
				<label class="lbl_a" for="a_text">{$lang.youhave} <span id="counter" style="color:#003E5F;"></span> {$lang.char}.</label>
			</div>	
			<br style="clear:both;"/>					
	<label class="lbl_a" for="a_text">{$lang.smsmsg} :</label>
						 <textarea rows="2" id="sms" name="sms" cols="20" style="height:200px;"> </textarea>
                         <div class="seperator"></div>
                         <p> Characters : <span id="remaining">0</span>  <br />
  Messages : <span id="messages">0</span>
Unicode : <span id="unicode" style="color:red"></span>

</p>
						</form>
</div><!-- END TAB -->
</div><!-- END TABS -->



<script type="text/javascript">
head.js("../scripts/admin2/jquery.tools.min.js");
head.js("../scripts/admin2/jquery_count.js");
head.js("../scripts/admin2/jquery.fcbkcomplete.min.js");
head.js("../scripts/admin2/counter.js");
head.js("../scripts/admin2/compose.js");
head.js("../scripts/admin2/lib/file-uploader/fileuploader.js");
head.js("../scripts/uploadfromfilemanager.js");
</script>
<link rel="stylesheet" href="../skin/css/stylefacebook.css" type="text/css" media="screen" charset="utf-8" />
	

	
	
	