<div class="sepH_c">

<h1 class="sepH_c">{$lang.items}</h1>
						<div>
							<span style="font-weight: bold;">{$lang.upload}  :</span><br/><br/>
							<input id="fileupload" type="file" name="files" multiple> 
						</div>
						<br>
						<br>
						<div>
							<span style="font-weight: bold;" ><b>{$lang.import_file} : </b></span><br/><br/>
							<input id="filename" type="text" value="" ><a href="javascript:void(0);" name="filerun" id="filerun">Go</a>
						</div>
						<div>
						<br/><br/>
							<span style="color: red;" id="output"></span> 
							<span style="color: red;" id="outputimport"></span>
						</div>
					</div>
				</div>
				
				
						   <table cellpadding="0" cellspacing="0" border="0" class="display" id="data_table">
								<thead>
							<tr>
										<th class="chb_col"><div class="th_wrapp"><input type="checkbox" class="chSel_all inpt_c1" /></div></th>
                                        <th><div class="th_wrapp">#ID</div></th>
                                        <th><div class="th_wrapp">Email</div></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>	
				
						</div>
<script>head.js("../scripts/admin2/csvfiles.js");</script>  