{foreach from=$menu item=a}
<li id="list_{$a.id}">
<div class="listContainer box_c">
<div class="box_c_heading">
<span class="fl">{$a.title}</span>
<img src="/images/fancybox/blank.gif" alt="" class="fr square_x_11 wRemove" data-id="{$a.id}">
<img src="/images/fancybox/blank.gif" alt="" class="fr switch_arrows_a wToogle">
</div>
<div class="box_c_content cf mAccordion hidden">
fgfdgsd
</div>
</div> 
{if $a.subs}
 <ol>{include file="admin2/recurseMenuItems.tpl" menu=$a.subs}</ol>
{/if}
</li>
{/foreach}