<div class="cf">
							<div class="dp50 sortable">
                            <div class="box_c dashBox" id="contentItems"  data-module="content" data-fetch="content" data-results_per_page="5">
									<h3 class="box_c_heading cf">
										<span class="fl">Recent articles</span>
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr square_x_11 wRemove" />
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr switch_arrows_a wToogle" />
									</h3>
									<div class="box_c_content">
										<img src="../skin/images/admin2/ajax_red.gif" />
                                        <div class="seperator"></div>
										
									</div>
								</div>
                                <div class="box_c dashBox" id="contentItems1"  data-module="content" data-fetch="content" data-results_per_page="15">
									<h3 class="box_c_heading cf">
										<span class="fl">Recent articles 1</span>
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr square_x_11 wRemove" />
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr switch_arrows_a wToogle" />
									</h3>
									<div class="box_c_content">
										<img src="../skin/images/admin2/ajax_red.gif" />
                                        <div class="seperator"></div>
										
									</div>
								</div>
                            <div class="box_c">
								<h3 class="box_c_heading cf">
										<span class="fl">User info</span>
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr square_x_11 wRemove" />
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr switch_arrows_a wToogle" />
									</h3>
									<div class="box_c_content cf">
                                    
										<img src="../skin/images/admin2/user_noPhoto46.gif" alt="" class="fl sepV_b"/>
										<p class="sepH_a">You are loged in as: <a href="user_profile.html"><strong>Admin</strong></a></p>
										<p class="small">Last login: 24.09.2011 (127.0.0.1)</p>
										<p class="small">Total numbers of logins: 21</p>
									</div>
								</div>
								<div class="box_c">
									<h3 class="box_c_heading cf">
										<span class="fl">Recent comments</span>
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr square_x_11 wRemove" />
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr switch_arrows_a wToogle" />
									</h3>
									<div class="box_c_content">
										<ul class="sepH_c">
											<li class="sepH_a_line cf">
												<img src="../skin/images/admin2/user_noPhoto26.gif" alt="" class="fl sepV_b"/>
												<p class="small">New User <span class="s_color">on</span> Third article...<span class="fr">20.09.2011</span></p>
												<a href="#" class="truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus purus sapien, sollicitudin consectetur dapibus a, posuere sed nibh.</a>
											</li>
											<li class="sepH_a_line cf">
												<img src="../skin/images/admin2/user_noPhoto26.gif" alt="" class="fl sepV_b"/>
												<p class="small">New User <span class="s_color">on</span> Third article...<span class="fr">20.09.2011</span></p>
												<a href="#" class="truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus purus sapien, sollicitudin consectetur dapibus a, posuere sed nibh.</a>
											</li>
											<li class="sepH_a_line cf">
												<img src="../skin/images/admin2/user_noPhoto26.gif" alt="" class="fl sepV_b"/>
												<p class="small">New User <span class="s_color">on</span> Third article...<span class="fr">20.09.2011</span></p>
												<a href="#" class="truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus purus sapien, sollicitudin consectetur dapibus a, posuere sed nibh.</a>
											</li>
											<li class="cf">
												<img src="../skin/images/admin2/user_noPhoto26.gif" alt="" class="fl sepV_b"/>
												<p class="small">New User <span class="s_color">on</span> Third article...<span class="fr">20.09.2011</span></p>
												<a href="#" class="truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus purus sapien, sollicitudin consectetur dapibus a, posuere sed nibh.</a>
											</li>
										</ul>
										<a href="#" class="btn btn_aS">Show all coments</a>
									</div>
								</div>
								
							</div>
							
							<div class="dp50 sortable">
								<div class="box_c">
									<h3 class="box_c_heading cf">
										<span class="fl">Summary</span>
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr square_x_11 wRemove" />
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr switch_arrows_a wToogle" />
									</h3>
									<div class="box_c_content cf">
										<ul class="summary_list">
											<li><span>25</span> new comments</li>
											<li><span>323</span> new registrations</li>
											<li><span>10</span> unresolved tickets</li>
											<li><span>1203</span> unique visitors</li>
										</ul>
									</div>
								</div>
								<div class="box_c">
									<h3 class="box_c_heading cf">
										<span class="fl">Latest orders</span>
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr square_x_11 wRemove" />
										<img src="../skin/images/admin2/blank.gif" alt="" class="fr switch_arrows_a wToogle" />
									</h3>
									<div class="box_c_content">
										<div id="contentGrid"></div>
									   <a href="#" class="btn btn_aS">Show task manager</a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="cf">
							<div class="sortable dp100"></div>
						</div>
<script>head.js('/scripts/admin2/home.js');</script>