
<form action="{$PHP_SELF}" method="post">
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr>
      <td>Username</td>
      <td><input name="uname" type="text" id="uname" value="{$smarty.post.uname}"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input name="pass" type="password" id="pass"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="Submit" value="Submit"> <a href="#" onClick="MM_openBrWindow('help.php?width=503&height=188&fname=login.swf','','width=503,height=188')"><img src="{$ImagesDir}/cp_help.gif" border="0"></a></td>
    </tr>
  </table>
  {if $LOGINMESSAGE ne ""}
  <br>
   <div align="center"><font color="#FF0000"><b>{$LOGINMESSAGE}</b></font></div>
	 {/if}
</form>