<table border='0' cellspacing='0' cellpadding='0' style='width: 100%'>
<script type='text/javascript' src='/scripts/nav_menu.js'></script>
	<tr><td>
	<div class='menuBar' style='width: 100%'><a class='menuButton' href='{$URL}/manage/' style='background-image: url(/images/admin/main_16.png); background-repeat: no-repeat;  background-position: 3px 1px' >Dashboard</a>
    {if $loaded_modules.products}
    <!-- Products Start -->
    <a class='menuButton' href='javascript:void(0);' style='background-image: url(/images/admin/16.gif); background-repeat: no-repeat;  background-position: 3px 1px' onclick="return buttonClick(event, 'setMenu');" onmouseover="buttonMouseover(event, 'setMenu');">{$lang.products}</a>
	  <div id='setMenu' class='menu' onmouseover="menuMouseover(event)">
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/index.php' ><span class='menuItemBuffer'><img src='/images/admin/main_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.home}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/new.php' ><span class='menuItemBuffer'><img src='/images/admin/add_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.add}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/search.php' ><span class='menuItemBuffer'><img src='/images/admin/edit_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.modify}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/search.php' ><span class='menuItemBuffer'><img src='/images/admin/search_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.search}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/mass_insert.php' ><span class='menuItemBuffer'><img src='/images/admin/arrow_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Μαζική εισαγωγή</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/categories.php' ><span class='menuItemBuffer'><img src='/images/admin/categories_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.categories}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/extra_fields.php' ><span class='menuItemBuffer'><img src='/images/admin/menus_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.extra_fields}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/settings.php' ><span class='menuItemBuffer'><img src='/images/admin/prefs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.settings}</span></a>
      </div>
      <!-- PRODUCTS END -->
 {/if}
{if $loaded_modules.d_items}
    <!-- d_items Start -->
    <a class='menuButton' href='javascript:void(0);' style='background-image: url(/images/admin/custom_16.png); background-repeat: no-repeat;  background-position: 3px 1px' onclick="return buttonClick(event, 'cMenu');" onmouseover="buttonMouseover(event, 'cMenu');">Custom Items</a>
	  <div id='cMenu' class='menu' onmouseover="menuMouseover(event)">
      <a class='menuItem ' href='{$URL}/{$loaded_modules.d_items.folder}/admin/index.php'><span class='menuItemBuffer'><img src='/images/admin/main_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.home}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.d_items.folder}/admin/d_items_new.php' ><span class='menuItemBuffer'><img src='/images/admin/add_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.add}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.d_items.folder}/admin/search.php' ><span class='menuItemBuffer'><img src='/images/admin/edit_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.modify}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.d_items.folder}/admin/search.php' ><span class='menuItemBuffer'><img src='/images/admin/search_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.search}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.d_items.folder}/admin/mass_insert.php' ><span class='menuItemBuffer'><img src='/images/admin/arrow_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Μαζική εισαγωγή</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.d_items.folder}/admin/categories.php' ><span class='menuItemBuffer'><img src='/images/admin/categories_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.categories}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.d_items.folder}/admin/extra_fields.php' ><span class='menuItemBuffer'><img src='/images/admin/menus_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.extra_fields}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.d_items.folder}/admin/settings.php' ><span class='menuItemBuffer'><img src='/images/admin/prefs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.settings}</span></a>
      </div>
      <!-- d_items END -->
 {/if}
 {if $loaded_modules.content}
    <!-- CONTENT START -->   
      <a class='menuButton' href='javascript:void(0);' style='background-image: url(/images/admin/welcome_16.png); background-repeat: no-repeat;  background-position: 3px 1px' onclick="return buttonClick(event, 'contMenu');" onmouseover="buttonMouseover(event, 'contMenu');">{$lang.content}</a>
      <div id='contMenu' class='menu' onmouseover="menuMouseover(event)">
         <a class='menuItem ' href='{$URL}/{$loaded_modules.content.folder}/admin/index.php' ><span class='menuItemBuffer'><img src='/images/admin/main_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.home}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.content.folder}/admin/new.php' ><span class='menuItemBuffer'><img src='/images/admin/add_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.add}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.content.folder}/admin/search.php' ><span class='menuItemBuffer'><img src='/images/admin/edit_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.modify}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.content.folder}/admin/search.php' ><span class='menuItemBuffer'><img src='/images/admin/search_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.search}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.content.folder}/admin/categories.php' ><span class='menuItemBuffer'><img src='/images/admin/categories_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.categories}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.content.folder}/admin/extra_fields.php' ><span class='menuItemBuffer'><img src='/images/admin/menus_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.extra_fields}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.content.folder}/admin/settings.php' ><span class='menuItemBuffer'><img src='/images/admin/prefs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.settings}</span></a>
      </div>
   <!-- CONTENT END -->
   {/if}
 {if $loaded_modules.listings}
    <!-- listings START -->   
      <a class='menuButton' href='javascript:void(0);' style='background-image: url(/images/admin/welcome_16.png); background-repeat: no-repeat;  background-position: 3px 1px' onclick="return buttonClick(event, 'listingMenu');" onmouseover="buttonMouseover(event, 'listingMenu');">{$lang.listings}</a>
      <div id='listingMenu' class='menu' onmouseover="menuMouseover(event)">
         <a class='menuItem ' href='{$URL}/{$loaded_modules.listings.folder}/admin/index.php' ><span class='menuItemBuffer'><img src='/images/admin/main_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.home}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.listings.folder}/admin/new.php' ><span class='menuItemBuffer'><img src='/images/admin/add_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.add}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.listings.folder}/admin/search.php' ><span class='menuItemBuffer'><img src='/images/admin/edit_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.modify}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.listings.folder}/admin/search.php' ><span class='menuItemBuffer'><img src='/images/admin/search_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.search}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.listings.folder}/admin/categories.php' ><span class='menuItemBuffer'><img src='/images/admin/categories_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.categories}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.listings.folder}/admin/extra_fields.php' ><span class='menuItemBuffer'><img src='/images/admin/menus_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.extra_fields}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.listings.folder}/admin/settings.php' ><span class='menuItemBuffer'><img src='/images/admin/prefs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.settings}</span></a>
      </div>
   <!-- listings END -->
   {/if}
    {if $loaded_modules.recipes}
    <!-- CONTENT START -->   
      <a class='menuButton' href='javascript:void(0);' style='background-image: url(/images/admin/welcome_16.png); background-repeat: no-repeat;  background-position: 3px 1px' onclick="return buttonClick(event, 'recipesMenu');" onmouseover="buttonMouseover(event, 'recipesMenu');">Recipes</a>
      <div id='recipesMenu' class='menu' onmouseover="menuMouseover(event)">
         <a class='menuItem ' href='{$URL}/{$loaded_modules.recipes.folder}/admin/index.php' ><span class='menuItemBuffer'><img src='/images/admin/main_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.home}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.recipes.folder}/admin/new.php' ><span class='menuItemBuffer'><img src='/images/admin/add_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.add}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.recipes.folder}/admin/search.php' ><span class='menuItemBuffer'><img src='/images/admin/edit_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.modify}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.recipes.folder}/admin/search.php' ><span class='menuItemBuffer'><img src='/images/admin/search_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.search}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.recipes.folder}/admin/categories.php' ><span class='menuItemBuffer'><img src='/images/admin/categories_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.categories}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.recipes.folder}/admin/extra_fields.php' ><span class='menuItemBuffer'><img src='/images/admin/menus_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.extra_fields}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.recipes.folder}/admin/settings.php' ><span class='menuItemBuffer'><img src='/images/admin/prefs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.settings}</span></a>
      </div>
   <!-- CONTENT END -->
   {/if}
   {if $loaded_modules.gallery}
    <!-- IMAGE GALLERY START -->
    <a class='menuButton' href='javascript:void(0);' style='background-image: url(/images/admin/images_16.png); background-repeat: no-repeat;  background-position: 3px 1px' onclick="return buttonClick(event, 'setMenu');" onmouseover="buttonMouseover(event, 'setMenu');">Gallery</a>
	  <div id='setMenu' class='menu' onmouseover="menuMouseover(event)">
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/cache.php' ><span class='menuItemBuffer'><img src='/images/admin/main_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.home}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/emoticon.php' ><span class='menuItemBuffer'><img src='/images/admin/add_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.add}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/frontpage.php' ><span class='menuItemBuffer'><img src='/images/admin/edit_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.modify}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/image.php' ><span class='menuItemBuffer'><img src='/images/admin/search_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.search}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/language.php' ><span class='menuItemBuffer'><img src='/images/admin/arrow_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Μαζική εισαγωγή</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/language.php' ><span class='menuItemBuffer'><img src='/images/admin/categories_16.gif' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.categories}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/meta.php' ><span class='menuItemBuffer'><img src='/images/admin/menus_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.extra_fields}</span></a>
      <a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/settings.php' ><span class='menuItemBuffer'><img src='/images/admin/prefs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.settings}</span></a>
      </div>
      <!-- IMAGE GALLERY END -->
      {/if}
      {if $loaded_modules.news}
     <!-- NEWS START -->
      <a class='menuButton' href='javascript:void(0);' style='background-image: url(/images/admin/news_16.png); background-repeat: no-repeat;  background-position: 3px 1px' onclick="return buttonClick(event, 'docsMenu');" onmouseover="buttonMouseover(event, 'docsMenu');">News</a><div id='docsMenu' class='menu' onmouseover="menuMouseover(event)"><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?1' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Administrators</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?2' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Banlist</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?3' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Banners</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?4' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>BBCode</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?5' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Cache</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?6' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Chatbox</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?7' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Classes</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?8' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Downloads</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?9' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Emoticons</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?10' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Errors</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?11' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Forums</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?12' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Front Page</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?13' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Help!</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?14' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Links</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?15' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Maintainance</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?16' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Menus</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?17' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>News</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?18' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Preferences</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?19' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Uploads</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?20' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Users</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/docs.php?21' ><span class='menuItemBuffer'><img src='/images/admin/docs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Welcome Message</span></a></div>
  <!-- END NEWS -->
  {/if}
  {if $loaded_modules.eshop}
      <!-- ESHOP START -->
      <a class='menuButton' href='javascript:void(0);' style='background-image: url(/images/admin/cart_16.gif); background-repeat: no-repeat;  background-position: 3px 1px' onclick="return buttonClick(event, 'toolMenu');" onmouseover="buttonMouseover(event, 'toolMenu');">Eshop</a><div id='toolMenu' class='menu' onmouseover="menuMouseover(event)"><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/db.php' ><span class='menuItemBuffer'><img src='/images/admin/database_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Database</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/fileinspector.php' ><span class='menuItemBuffer'><img src='/images/admin/fileinspector_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>File Inspector</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/filemanager.php' ><span class='menuItemBuffer'><img src='/images/admin/filemanager_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>File Manager</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/ugflag.php' ><span class='menuItemBuffer'><img src='/images/admin/maintain_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Maintenance</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/notify.php' ><span class='menuItemBuffer'><img src='/images/admin/notify_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Notify</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/phpinfo.php' ><span class='menuItemBuffer'><img src='/images/admin/phpinfo_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>PHP Info</span></a><a class='menuItem ' href='{$URL}/{$loaded_modules.products.folder}/admin/theme.php' ><span class='menuItemBuffer'><img src='/images/admin/themes_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Theme Manager</span></a></div>
 <!-- ESHOP END -->
 {/if}
 {if $loaded_modules.users}
 <!-- USERS START -->
      <a class='menuButton' href='javascript:void(0);' style='background-image: url(/images/admin/cat_users_16.png); background-repeat: no-repeat;  background-position: 3px 1px' onclick="return buttonClick(event, 'userMenu');" onmouseover="buttonMouseover(event, 'userMenu');">Users</a><div id='userMenu' class='menu' onmouseover="menuMouseover(event)">
       <a class='menuItem ' href='{$URL}/{$loaded_modules.users.folder}/admin/index.php' ><span class='menuItemBuffer'><img src='/images/admin/main_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.home}</span></a>
       <a class='menuItem ' href='{$URL}/{$loaded_modules.users.folder}/admin/settings.php' ><span class='menuItemBuffer'><img src='/images/admin/prefs_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.settings}</span></a>
      </div>
    <!-- USERS END --> 
    {/if}

      
            <a class='menuButton' href='javascript:void(0);' style='background-image: url(/images/admin/pin_16.gif); background-repeat: no-repeat;  background-position: 3px 1px' onclick="return buttonClick(event, 'generalMenu');" onmouseover="buttonMouseover(event, 'generalMenu');">{$lang.lbl_general}</a><div id='generalMenu' class='menu' onmouseover="menuMouseover(event)"><a class='menuItem ' href='/manage/menuEditor.php' ><span class='menuItemBuffer'><img src='/images/admin/plugmanager_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>Menu Editor</span></a>
            <a class='menuItem ' href='/manage/languages.php' ><span class='menuItemBuffer'><img src='/images/admin/plugmanager_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.translations}</span></a>
<a class='menuItem ' href='/manage/contactForm.php' ><span class='menuItemBuffer'><img src='/images/admin/plugmanager_16.png' alt='' style='border:0px; vertical-align:bottom; width: 16px; height: 16px' /></span><span class='menuItemText'>{$lang.contact_form}</span></a>
            </div>
      </div><!-- END MENU BAR -->

	</td><td style='width: 200px; white-space: nowrap'>
		<div class='menuBar' style='width: 100%'><a class='menuButton' href='{$URL}' style='background-image: url(/images/admin/leave_16.png); background-repeat: no-repeat;  background-position: 3px 1px' >{$lang.lbl_backToSite}</a> <a class='menuButton' href='{$e_FILE}?logout' style='background-image: url(/images/admin/logout_16.png); background-repeat: no-repeat;  background-position: 3px 1px' >{$lang.logout}</a></div>
		</td></tr>
	</table>