{include file="modules/d_items/admin/menu.tpl"}
{include file="modules/d_items/search_box.tpl" mode="start_page"}

<div class="wrap seperator padding">

<h2><a href="{$MODULE_FOLDER}/categories.php">{$lang.categories}</a> (<a href="{$MODULE_FOLDER}/categories.php#addcat">add new</a>) {include file="modules/d_items/nav_categories.tpl" management=$lang.categories target="admin_categories"}</h2>


<form name="latest_products_form" method="post">
{include file="modules/d_items/admin/display_items_table.tpl" items=$items type="edit" form_name="latest_items_form" page="category_items.php"}
</form>
</div>