



<div class="page-title category-title">
<h1>{$cat.category}</h1>
</div>

<ul class="products-grid first odd">
{foreach from=$subs item=a name=b}
{foreach from=$items1 item=c name=d}
{if $a.categoryid eq $c.0.category.catid}
<li class="item" style="margin-left:23px;">
			  <div class="imagecontainers imagecontainers2">														
                <a href="/{$FRONT_LANG}/content/{$a.alias}/index.html" title="{$a.title}" data-id="" class="product-image"  data-actual="{$a.main}"><img class="product_image" src="{$c.0.image_full.thumb}" width="155" height="155" alt="{$a.title}" title="{$a.title}"></a></div>
                <h2 class="product-name"><a href="/{$FRONT_LANG}/content/{$a.alias}/index.html" title="{$a.category}">{$a.category}</a></h2>
                                                                
                <div class="actions">                    
              </div>
            </li>
 {/if}           
{/foreach}
{/foreach}
</ul>


