{if $ID}
{else}
{if $mode eq "modal"}
<div class="seperator"></div>
<h2>{$lang.returning_member}</h2>
<form id="login_form" name="login_form" method="post" action="{$SELF}">
      <table style="font-weight: bold;" width="100%">
      <tbody><tr>
        <td style="height: 40px;" valign="middle">{$lang.username} (Username) :</td>

        <td style="height: 40px;" valign="middle"><input name="username" id="username"  type="text"></td>
      </tr>
      <tr>
        <td style="height: 40px;" valign="middle">{$lang.password} :</td>
        <td style="height: 40px;" valign="middle"><input name="password" type="password"></td>
      </tr>
       <tr>
        <td style="height: 40px;" valign="middle">{$lang.remember_me} :</td>
        <td style="height: 40px;" valign="middle"><input type="checkbox" name="autologin" value="1" /></td>
      </tr>
      <tr>
        <td colspan="2" style="height: 40px;" align="center" valign="middle"><input name="Submit" value="{$lang.login}" type="submit" class="submit-button">
			{foreach from=$smarty.post item=a key=k}
            {if $k ne "password" AND $k ne "username"}
            <input name="{$k}" value="{$a}" type="hidden">
            {/if}
			{/foreach}

          </td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="middle"><a href="{$URL}lost-password.html">{$lang.lost_password} (password)</a> </td>

      </tr>
    </tbody></table>  
</form>
<div class="seperator"></div>
<h2>{$lang.become_member}</h2>
{$lang.join_us}<br>

  <a href="{$URL}/signup.html" title="{$lang.become_a_member}">{$lang.create_new_account} &gt;&gt;</a>
  <div class="clear"></div>
{else}
<div id="container">
<div id="content_full">
<div id="list-categories">
<div class="section-title"><h1>{$lang.member_entrance}</h1></div>
{if $LOGINMESSAGE}<div id="error_list" class="red"><h2>{$LOGINMESSAGE}</h2></div>{/if}
{if $action eq "step2"}
<br class="seperator" />
<div id="error_list">{$lang.account_activated}</div>
{/if}
<br class="seperator" />
<div id="login">
<div class="login-form">
<h2>{$lang.returning_member}</h2>

<form id="login_form" name="login_form" method="post" action="{$SELF}">
      <table style="font-weight: bold;" width="100%">
      <tbody><tr>
        <td style="height: 40px;" valign="middle">{$lang.username} (Username) :</td>

        <td style="height: 40px;" valign="middle"><input name="username" id="username"  type="text"></td>
      </tr>
      <tr>
        <td style="height: 40px;" valign="middle">{$lang.password} :</td>
        <td style="height: 40px;" valign="middle"><input name="password" type="password"></td>
      </tr>
       <tr>
        <td style="height: 40px;" valign="middle">{$lang.remember_me} :</td>
        <td style="height: 40px;" valign="middle"><input type="checkbox" name="autologin" value="1" /></td>
      </tr>
      <tr>
        <td colspan="2" style="height: 40px;" align="center" valign="middle"><input name="Submit" value="{$lang.login}" type="submit" class="submit-button">
			{foreach from=$smarty.post item=a key=k}
            {if $k ne "password" AND $k ne "username"}
            <input name="{$k}" value="{$a}" type="hidden">
            {/if}
			{/foreach}

          </td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="middle"><a href="{$URL}/lost-password.html">{$lang.lost_password} (password)</a> </td>

      </tr>
    </tbody></table>  
</form>
<div class="clear"></div>
</div><!-- END LOGIN FORM -->
<div class="login-text">
<h2>{$lang.become_member}</h2>
{$lang.join_us}<br>

  <a href="{$URL}/signup.html" title="{$lang.become_a_member}">{$lang.create_new_account} &gt;&gt;</a>
  <div class="clear"></div>
</div><!-- END LOGIN TEXT -->
<div class="clear"></div>
</div><!-- END LOGIN -->
<div class="clear"></div>
</div>
</div><!-- END CONTENT FULL -->
<div class="clear"></div>
</div><!-- END CONTAINER -->
{/if}
{/if}