 
{foreach from=$sub item=b}
<ul class={$class}>
<li class="{if  $current == $b.categoryid}active{/if}">
<a href="/{$FRONT_LANG}/products/{$b.alias}/1.html">
<span>{$b.category}</span>
</a>
 {include file="modules/themes/sideBarCat.tpl" sub=$b.subcategories}
</li>
</ul>
{/foreach}