<div id="loginbox">
{if $ID} <b>{$lang.welcome}</b> {$USER_NAME} {$USER_SURNAME} &nbsp; | &nbsp;<a href="/logout.html">{$lang.logout}</a>
  {else}
    <b>{$lang.welcome}</b> 
  <a href="/member_login.html" class="HeaderLink">{$lang.login}</a>
  {$lang.or}
  <a href="/register_buyer.html" class="HeaderLink">{$lang.register}</a>
  <b>{$lang.free}</b>!
  {/if}
  </div>
