
				<div id="tabStrip" class="tabStrip" style="height: 300px">
  						  <ul>
    						{foreach from=$curr_modules item=a name=b}	
    						   <li class="boxItem {if $smarty.foreach.b.first}k-state-active{/if}" data-settings='{$settings|@json_encode}' data-boxID="{$box.id}" data-name="{$box.name}"  data-dataType="" data-trigger="" data-module="{$a}">{$lang[$a]}</li>
							{/foreach}
  							  </ul>

  							   {foreach from=$curr_modules item=a name=b}
  							   <div>
  							     <div id="{$a}" class="k-content absConf">
            							<div class="chart-wrapper" style="margin: auto;">
            							
                						<div id="chart-{$box.name}-{$a}" style="width: 350px; height: 250px;"></div>
            							</div>
            					  </div>
            					  </div>
            					  {/foreach}

								</div><!-- END TABS -->
   <script src="/scripts/admin2/charts.js"></script>


