<li class="parent">
	<img src="/skin/images/admin2/blank.gif" alt="" class="sepV_a vam home_ico">
	<a href="/manage" class="vam">Αρχική</a>
	<ul class="first" style="display: none; ">
		<li><a href="itemsHome.php?module=content">Manage Content</a></li>			
		<li><a href="itemsHome.php?module=products">Manage Products</a></li>										
		<li><a href="eshop.php">Eshop</a></li>																									
		<li><a href="users.php">Users</a></li>										
		<li><a href="index.php">Listings</a></li>
		<li><a href="languages.php">Translations</a></li>
	    <li><a href="menuEditor.php"></a></li>
	</ul>
</li>