{include file="admin2/breadcrumbs/admin.tpl"}
<li class="parent">
	<a href="#">Content</a>
	<ul>
		<li><a href="#">Articles</a></li>
		<li><a href="#">Pages</a></li>
		<li><a href="#">Custom content</a></li>
	</ul>
</li>