{include file="admin2/breadcrumbs/admin.tpl"}
<li class="parent">
	<a href="eshop.php#!/index">Eshop</a>
	<ul style="display: none; ">
		<li><a href="#!/index" class="{if $submenu eq "main"}current"{/if}" >{$lang.home}</a></li>
		<li><a href="#!/orders" class="{if $submenu eq "orders"}current"{/if}" >Orders</a></li>
		<li><a href="#!/shipping_methods" class="{if $submenu eq "shipping"}current"{/if}" >Shipping Methods</a></li>
		<li><a href="#!/payment_methods" class="{if $submenu eq "payment"}current"{/if}" >Payment Methods</a></li>
		{* <li><a href="#!/subscriptions" class="{if $submenu eq "payments"}current"{/if}" >Subscriptions</a></li>
		<li><a href="#!/pclasses" class="{if $submenu eq "classes"}current"{/if}" >Product Classes</a></li>
		<li><a href="#!/mass_insert" class="{if $submenu eq "memberships"}current"{/if}" >Memberships</a></li>
		<li><a href="#!/categories" class="{if $submenu eq "gifts"}current"{/if}" >Gift Ceritficates</a></li>
		<li><a href="#!/extra_fields" class="{if $submenu eq "discounts"}current"{/if}" >Discounts</a></li>
		<li><a href="#!/settings" class="{if $submenu eq "settings"}current"{/if}" >Settings</a></li> *}
	</ul>
</li>
<li class="current">Dashboard</li>