<ul id="related_products_ul">
  {section name=a loop=$products}
  <li id="it_{$products[a].id}" value="{$products[a].id}"><input name="ids[{$products[a].id}]" type="checkbox" class="checkbox" id="check_values" onclick="selectRow({$products[a].id});" value="1" /><a href="#?id={$products[a].id}">{$products[a].title}</a><input name="id-{$products[a].id}" type="hidden" id="id-{$products[a].id}" value="{$products[a].id}">
 {if $products[a].active eq 1}<font color="#00FF33">Active{else}<font color="#FF0000">Disabled{/if}</font>
 {if $smarty.get.bidirectional eq 1}<INPUT name="bidirectional-{$products[a].id}" type="checkbox" value="1" id="bidirectional-{$products[a].id}"> bidirectional link{/if}
  </li>
  {/section}
  </ul>
Check All/None <input type="checkbox" id="total_check" name="ids[1]" onclick="multi_check_all_boxes(this.form.check_values,'total_check')" /> <input type="button" name="Delete Selected" value="Delete Selected" id="delete_selected" onclick="deleteListElements('related_products_ul')" />