{include file="modules/content/admin/menu.tpl"}
{include file="modules/content/search_box.tpl" mode="start_page"}
<div class="wrap padding seperator">

<h2><a href="{$MODULE_FOLDER}/categories.php">Κατηγορίες</a> (<a href="categories.php#addcat">Προσθήκη Νέας</a>) {include file="modules/content/nav_categories.tpl" management=$lang.categories target="admin_categories"}</h2>


<form name="CategoryItems">
<input name="ResultsDiv" type="hidden"  value="#ResultsDiv" class="SearchData">
<div id="ResultsDiv">
{include file="modules/content/admin/display_content_table.tpl" items=$items type="edit" form_name="CategoryItems" page="index.php" pagination_mode="admin" reorder=1}
</div>
</form>
</div>