{section name=t loop=$countries}
{if $countries[t].code ne $FRONT_LANG}
.::
<a href="{$PHP_SELF}?{if $QUERY_STRING}{$QUERY_STRING}&{/if}sl={$countries[t].code}" title="{$countries[t].country} {$lang.language}" class="topmenu">
{if $countries[t].image}<img src="{$countries[t].image}" alt="{$countries[t].country}" title="{$countries[t].country}" border="0" align="absmiddle"> {/if}{$countries[t].country}</a>                        
::.
{/if}
{/section}