<div class="col2-set ">

<div class="col-1">
<h3>ΠΛΗΡΩΜΗ ΜΕ </h3>    
<div class="seperator"></div>  
<ul>
{foreach from=$payment_methods item=a name=b}
<li><input type="radio" value="{$a.id}" name="payment_method" id="payment{$a.id}" class="payment_method save {if $a.settings.installments}has-installments{/if}" {if $smarty.foreach.b.first}checked{/if} /> <label for="payment{$a.id}">{$a.title}</label></li>
{/foreach}
</ul>


</div>
<div class="col-2">

{foreach from=$payment_methods item=a name=b}

<div id="payment_method_div{$a.id}" class="payment_method_div {if !$smarty.foreach.b.first}hidden{/if}">

{if $a.description != ""}
	<h3>Στοιχεια ΠΛΗΡΩΜΗΣ</h3>
{/if}
<div class="float-left">{$a.description}</div>
<div class="clear"></div>
</div><!-- END TAB -->
{/foreach}

</div>




{*
{foreach from=$payment_methods item=a name=b}
<div id="payment_method_div{$a.id}" class="payment_method_div {if !$smarty.foreach.b.first}hidden{/if}">
<div class="float-right">{$a.description}</div>

<!-- 
<div class="options">
<input type="hidden" value="{$a.processor.url}" id="url{$a.id}" />
{foreach from=$a.shipping item=c name=n key=k}
<h2>{$c.parent_array.shipping}</h2>
<ul id="shipping-methods" class="{$c.parent_array.settings.form}-form">
{foreach from=$c.methods item=x name=s}
<li><input type="radio" value="{$x.id}" name="shipping" id="s_{$x.id}" class="shipping_method save"  alt="0" /> <label for="s_{$x.id}">{$x.shipping}</label></li>
{/foreach}
</ul>
{/foreach}
</div> --><!-- END OPTIONS -->
<div class="clear"></div>
</div><!-- END TAB -->
{/foreach}
*}
</div>