@charset "utf-8";
* { margin:0; padding:0; }

body          { background:url(/images/site/backImage.png); font:12px/1.55 Arial, Helvetica, sans-serif; color:#666; text-align:center; }


img           { border:0; vertical-align:top; }

a             { color:#777; text-decoration:none; }
a:hover       { text-decoration:underline; color:#333; }
:focus        { outline:0; }
#shopping-cart-table .disable { background-color:#ccc;}
/* Headings */

h1            { font-size:20px; font-weight:bold; }
h2            { font-size:18px; font-weight:bold; }
h3            { font-size:16px; font-weight:bold; }
h4            { font-size:14px; font-weight:bold; }
h5            { font-size:12px; font-weight:bold; }
h6            { font-size:11px; font-weight:bold; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 10px; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul,ol         { list-style:none; }


/* Layout ================================================================================ */
.wrapper { }
.page {   margin: 0 auto; padding-top: 25px; text-align: left; width: 990px; }
.page-print { background:#fff; padding:25px 30px; text-align:left; }
.page-empty { background:#fff; padding:20px; text-align:left; }
.page-popup { background:#fff; padding:25px 30px; text-align:left; }
.main { background: url("/images/site/bottom_bg.gif") no-repeat scroll center bottom; min-height:350px; padding:35px 68px 25px; }
.main-container{ background:url(/images/site/main_bg.gif) repeat-y left top;}

.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
/* Global Styles ========================================================================= */
/* Form Elements */
input,select,textarea,button { font:12px/15px Arial, Helvetica, sans-serif; vertical-align:middle; color:#2f2f2f; }
input.input-text,select,textarea { background:#fff; border:1px solid #ddd; }
input.input-text,textarea { padding:2px; }
select { padding:1px; }
select option { padding-right:10px; }
select.multiselect option { border-bottom:1px solid #EEEEEE; padding:2px 5px; }
select.multiselect option:last-child { border-bottom:0; }
textarea { overflow:auto; }
input.radio { margin-right:3px; }
input.checkbox { margin-right:3px; }
input.qty { width:2.5em !important; }


button.button::-moz-focus-inner, a.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button, a.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button, a.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
button.button span, a.button span { float:left; height:26px; background:transparent url(/images/site/bkg_btn.gif) 0 0 no-repeat; padding:0 0 0 6px; font:bold 12px/23px Tahoma, Verdana, Arial, sans-serif; text-align:center; white-space:nowrap; color:#fff; text-shadow:1px 1px #444; }
button.button span span, a.button span span { background-position:100% 0; padding:0 11px 0 6px; }

button.button:hover span, a.button:hover span  { background:transparent url(/images/site/bkg_btn_hover.gif) 0 0 no-repeat; }
button.button:hover span span, a.button:hover span span { background-position:100% 0; padding:0 11px 0 6px; }

button.disabled span, a.disabled span { color:#bbb !important; }

button.btn-cart span, a.btn-cart span  { background:transparent url(/images/site/bkg_btn_cart.gif) 0 0 no-repeat; padding:0 0 0 21px;}
button.btn-cart span span, a.btn-cart span span{ padding:0 11px 0 5px; }
button.btn-cart:hover span, a.btn-cart:hover span { background:transparent url(/images/site/bkg_btn_cart_hover.gif) 0 0 no-repeat; padding:0 0 0 21px;}
button.btn-cart:hover span span, a.btn-cart:hover span span{ padding:0 11px 0 5px; }


/*button.btn-cart span {}*/

button.btn-checkout span,a.btn-checkout span  { height:26px; border:0; background-image:url(/images/site/btn_checkout.gif); background-position:top left; padding:0 0 0 6px; font:bold 15px/25px Arial, Helvetica, sans-serif; color:#fff; }
button.btn-checkout span span, a.btn-checkout span span { padding:0 40px 0 34px; }

button.btn-checkout:hover span, a.btn-checkout:hover span { height:26px; border:0; background-image:url(/images/site/btn_checkout_hover.gif); background-position:top left; padding:0 0 0 6px; font:bold 15px/25px Arial, Helvetica, sans-serif; color:#fff; }
button.btn-checkout:hover span span, a.btn-checkout:hover span span { padding:0 40px 0 34px; }

button.btn-checkout.no-checkout span, a.btn-checkout.no-checkout span { background-position:0 100%; color:#cfcfcf; }
button.btn-checkout.no-checkout span span, a.btn-checkout.no-checkout span span { background-position:100% 100%; }
/* Header ================================================================================ */
.logo { float:left; }
.header-container { background:url(/images/site/header_bg.gif) no-repeat top center #fff; height:119px;}
.header {  
    margin: 0 auto;
    position: relative;
    text-align: left;
    z-index: 10;	
}
.header .logo {  float: left; margin:28px 0 0 40px; text-decoration: none !important; }
.header .logo strong { position:absolute; top:-999em; left:-999em; width:0; height:0; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; }
.header h1.logo { margin:0; }
.header .topCart { position:absolute; right:42px; top:50px; color: #888; }
.header .quick-access {   
	color: #5F5F5F;
	width:100%;
    position: absolute;
    right: 42px;
    text-align: right;
    top:90px; 
}
.header .welcome-msg {   
	position:absolute;
	right:170px;
	top:14px;
  	color: #888;
    display: inline;
    font-size: 12px;
    margin: 0;   	
}
.top-search {     	
    margin-left: 736px;
    padding-top: 0;
    position: absolute;
    text-align: left;
    top: 72px;
    width: 210px;
    z-index: 999;
	border:1px solid #ddd;
}
.header .links .top-links-5 a.top-link-cart{ background:url(/images/site/cart_icon.gif) no-repeat right center; padding:0px 20px 0px 0px; color:#A9A9A9;}
.language-switcher{ position:absolute; top:17px; right:43px;}

.header .form-language { clear: both; position: absolute; text-align:right; top:15px; right:42px;}
.header .form-language label { font-weight:normal; padding-right:5px; color:#464646; vertical-align:middle; }
.header .form-language select { padding:0; width:100px; }
.header .form-language select.flags option { background-position:4px 50%; background-repeat:no-repeat; padding-left:25px; }
.header .links { /*float:right;*/  /* margin: 0 2px 6px 0; padding:19px 0px 6px;*/ display:inline; padding-top:8px; padding-bottom:8px; }
.header .links li { 
	background: url("/images/site/bullet_link.gif") no-repeat scroll right 5px transparent;
    font-size: 11px;
    font-weight: bold;
    padding: 0 8px 0 0;  
}
.header .links li.last { background:none; padding:8px; }
.header .links a {  
	color: #A9A9A9;
    font-weight: normal;
	padding: 2px 4px 1px; 
}
.links li { display:inline; }
.links li.first { padding-left:0 !important; }

/********** < Navigation */
.nav-container { }
#nav {       
	background:url(/images/site/nav_bg.gif) no-repeat left top;
    font-size: 13px;
    height:49px;
	padding-left:50px;
    margin: 0 auto; 
}

/* All Levels */ /* Style consistent throughout all nav levels */
#nav li { position:relative; text-align:left; }
#nav li.over { z-index:998; }
#nav a,
#nav a:hover { display:block; line-height:1.3em; text-decoration:none; }
#nav span { display:block; cursor:pointer; white-space:nowrap; }
#nav li ul span {white-space:normal; }

/* 0 Level */
#nav li { float:left; }
#nav li.active a { color:#000; }
#nav a {  
    color: #888;
    float: left;
    font-weight: normal;
    padding: 14px 15px;
	font-size:13px; 
	text-shadow:1px 1px #fff;
 }
#nav li.over a,
#nav a:hover { color:#000; }

/* 1st Level */
#nav ul li,
#nav ul li.active { float:none; margin:0; }
#nav ul li.last { background:url(/images/site/top-submenu-bottombg.gif) no-repeat left bottom; padding-bottom:7px; }

#nav ul a,
#nav ul a:hover { float:none; padding:0; background:none; }
#nav ul li a { font-weight:normal !important; }

#nav a img.downarrowclass{ display:none;  }
#nav a img.rightarrowclass{ display:none;  }

/* 2nd Level */
#nav ul,
#nav div { position:absolute; width:204px; top:42px; left:-10000px; background:url(/images/site/top-submenu-topbg.gif) no-repeat left top; padding-top:8px; z-index:999; 
	box-shadow: 4px 4px 10px 0px #A6A6A6;
	-o-box-shadow: 4px 4px 10px 0px #A6A6A6;
	-moz-box-shadow: 4px 4px 10px 0px #A6A6A6;
	-webkit-box-shadow: 4px 4px 10px 0px #A6A6A6; 
}
#nav div ul { position:static; width:auto; border:none; }

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top:5px; background:url(/images/site/top-submenu-topbg2.gif) no-repeat left top; padding-top:7px; }

#nav ul li a { background:url(/images/site/top-submenubg.gif) repeat top left; border-left:1px solid #DFDFDF; border-right:1px solid #DFDFDF; text-shadow:1px 1px #fff;}
#nav ul li a:hover { background:url(/images/site/top-submenubg.gif) repeat top left; }
#nav ul li a { color:#333 !important; }
#nav ul li a:hover { color:#888787 !important; }
#nav ul span,
#nav ul li li span { padding:4px 0px 4px 8px; }

#nav ul li span {  background:url(/images/site/top-submenu-line.gif) repeat-x left bottom; margin:0px 5px; }
#nav ul li.last span { background:none; margin:0px 5px; }

#nav ul li.last ul li span {  background:url(/images/site/top-submenu-line.gif) repeat-x left bottom; margin:0px 5px; }
#nav ul li.last ul li.last span {  background:none; margin:0px 5px; }

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:999; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:100px; }
/********** Navigation > */
.main { background: url("/images/site/bottom_bg.gif") no-repeat scroll center bottom; min-height:350px; padding:35px 68px 25px; }
.main-container{ background:url(/images/site/main_bg.gif) repeat-y left top;}
/* Base Columns */
.col-left { float:left; width:220px; padding:0 0 1px; }
.col-main {  float: left; width: 614px; }
.col-right { float:right; width:220px; padding:0 0 1px; }
/* 1 Column Layout */
.col1-layout .col-main { float:none; width:auto; }
.col1-layout .main { padding:0px 64px 25px;}
.col1-layout .main .padding { padding:0; }
/* 2 Columns Layout */
.col2-left-layout .col-main { float:right; }
.col2-right-layout .col-main {}

/* 3 Columns Layout */
.col3-layout .col-main {   margin-left: 5px; width: 745px; }
.col3-layout .col-wrapper { float:left; width:970px; }
.col3-layout .col-wrapper .col-main { float:right; width:526px;}

/* Content Columns */
.col2-set .col-1 { float:left; width:48.5%; }
.col2-set .col-2 { float:right; width:48.5%; }
.col2-set .col-narrow { width:32%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }

/* BreadCrumbs */
.breadcrumbs { font-size:12px; line-height:1.25; color: #979797; padding:5px 5px 0px 10px; background:url(/images/site/breadcrumbsbg.gif) no-repeat left top; font-weight:normal; margin:-6px 64px 0; width:852px; position:absolute; height:25px; }
.breadcrumbs li { display:inline; }
.breadcrumbs li a{ color:#D64F76;  }
.breadcrumbs li a:hover{ color:#EDA85B;  }
.breadcrumbs li strong { font-weight:normal; color:#EDA85B; }
.breadcrumbs li span{ font-size:15px; font-weight:bold; padding-left:1px; padding-right:4px; color:#D64F76; }
/* Block: Layered Navigation */
#categories_block_left {background: none;}
#categories_block_left .block-title {background: url(/images/site/catg_headinng.gif) no-repeat top center;height: 35px;padding-top: 7px;}
#categories_block_left .block-content {background: none;}
.block { margin: 0 0 15px;  background:url(/images/site/block_midbg.gif) repeat-y;}
.block .block-title {  padding:8px 0 0; background:url(/images/site/block_topbg.gif) no-repeat top center; }
.block .block-title strong {color:#a8a9a5; display: block; font-size:16px; padding-left:15px; padding-top:3px; }
.block .block-title strong span {}
.block .block-title a { text-decoration:none !important; }
.block .block-subtitle { 
	margin:0; 
	padding:5px 9px; 
	font-weight:bold; 
	color:#444; 
    background:url(/images/site/bkg_block-layered-dd.gif) 0 100% repeat-x;
    font-size: 12px;
    margin: 0 0 0px;
    padding: 0 0 2px;
}
.block .block-content {padding:10px 10px 18px 14px; background:url(/images/site/block_bottombg.gif) no-repeat bottom center;}
.block .block-content li.item { padding:10px 0px; border-bottom: 1px solid #eee;   margin-bottom: 5px; }
.block .block-content li.last { border:none;}
.block .block-content .product-name { color:#4F8100; background:none; padding:0px; margin:0px; }
.block .btn-remove,
.block .btn-edit { float:right; margin:1px 0 2px 5px; }
.block .actions { 
    border-top: 1px solid #DDDDDD;
    margin: 5px 0 0;
    padding: 5px 0 0; }
.block .actions a { float:left; }
.block .actions button.button { float:right; }

.block-layered-nav { /*border:0;*/ }
.block-layered-nav .block-title { /*border:0; padding:0; height:24px; background:url(/images/site/bkg_block-layered-title.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; */ }
.block-layered-nav .block-subtitle {     	
    color: #666;
    line-height: 1.35;
    padding: 3px 2px;
}
.block-layered-nav .block-content { /*border:1px solid #a0b3c3; background:#e7f1f4; */}
.block-layered-nav dt { /*background:url(/images/site/bkg_block-layered-dt.gif) 9px 11px no-repeat;*/ padding:7px 10px 0 2px; font-weight:bold; }
.block-layered-nav dd { padding:0 3px 5px; background:url(/images/site/bkg_block-layered-dd.gif) 0 100% repeat-x; }
.block-layered-nav dd li{ line-height:20px;}
.block-layered-nav dd a{ color:#2F2F2F; background:url(/images/site/bullet_mini.gif) no-repeat left center; padding-left:10px;}
.block-layered-nav dd a:hover{ color:#E3AF74; text-decoration:none;}
.block-layered-nav dd.last { background:none; }
.block-layered-nav .currently li { background:#fff; padding:4px 6px 4px 10px; }
.block-layered-nav .currently .label { font-weight:bold; padding-left:18px; background:url(/images/site/bkg_block-layered-label.gif) 0 3px no-repeat; text-transform:uppercase; }
.block-layered-nav .currently .btn-remove { margin:3px 0 0; }
.block-layered-nav .actions { font-size:11px; /*padding:4px 9px; background:#cad6e4; border:1px solid #dee5e8; border-width:1px 0;*/ text-align:right; }
.block-layered-nav .actions a { float:none; }
/* Block: Cart */
.block-cart .block-title { /*border-bottom:0;*/ }
.block-cart .block-title strong { /*background-image:url(/images/site/i_block-cart.gif);*/ color:#f28920;}
.block-cart .block-content {  /*margin: 0 11px 0 10px; */}
.block-cart .summary { background:#fff; padding:2px 8px 8px; margin:-1px 0 0; position:relative; z-index:1; }
.block-cart .amount { margin:0; text-align:left; }
.block-cart .amount a { font-weight:bold; }
.block-cart .subtotal { margin:5px 0 0; padding:2px 0; text-align:left; }
.block-cart .subtotal .price { font-weight:bold; }
.block-cart .actions { /*border-bottom:1px solid #c2c2c2;*/ }
.block-cart .block-subtitle{margin-top:10px; margin-bottom:10px;}
.block-cart .actions .paypal-logo { float:left; width:100%; margin:3px 0 0; text-align:right; }
.block-cart .actions .paypal-logo .paypal-or { clear:both; display:block; padding:0 55px 8px 0; }
/* Mini Products List */
.mini-products-list .product-image { float:left; width:50px; border:1px solid #ddd; }
.mini-products-list .product-details { margin-left:60px; }
.mini-products-list .product-details .product-name a { font-size:11px; }

.block .btn-remove,
.block .btn-edit { float:right; margin:1px 0 2px 5px; }
.btn-remove  { display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(/images/site/btn_remove.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-remove2 { display:block; width:16px; height:16px; font-size:0; line-height:0; background:url(/images/site/btn_trash.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-edit    { display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(/images/site/btn_edit.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }

.category-title { border: 0 none; margin: 0 0 7px; padding:0px; background:url(/images/site/title_border.gif) repeat-x left bottom; padding-bottom:6px; }
.category-title h1{ color:#555; font-size:16px;  }
.category-image { width:100%; overflow:hidden; margin:0 0 10px; text-align:left; }
/* Toolbar */
.toolbar { margin-bottom:10px; }
.toolbar .pager { background: url(/images/site/pager_bg.gif) repeat scroll left top transparent; margin-bottom:1px; padding: 2px 7px; }
.toolbar .sorter { background:url(/images/site/pager_bg.gif) repeat left top; }
/* Pager */
.pager { font-size:11px;  padding:4px 8px; /*border-top:1px solid #D5E6B7;*/ text-align:center; }
.pager .amount { float:left; margin:0; padding-top:4px; }
.sorter .limiter { float:left; margin-left:220px; }
.sorter .limiter label { vertical-align:middle; }
.sorter .limiter select { padding:0; margin:0 0 1px; vertical-align:middle; }
.pager .pages { /*margin:0 140px;*/ padding:3px 0px; text-align:right; color:#000; }
.pager .pages strong{ display:none; }
.pager .pages ol { display:inline; }
.pager .pages li { display:inline; margin:0 1px;  padding:4px 6px 5px 7px; background:url(/images/site/pager_button.gif) no-repeat left center; }
.pager .pages li a{ color:#000;}
.pager .pages .current { background:url(/images/site/pager_button_active.gif) no-repeat left center; color:#fff;}
/* Sorter */
.sorter { font-size:11px; padding:3px 8px; }
.sorter .view-mode { float:left; margin:0px;  }
.sorter .sort-by { float:right; padding-right:0px; }
.sorter .sort-by label { vertical-align:middle; }
.sorter .sort-by select { padding:0; margin:0 0 1px; vertical-align:middle; }
.view-mode strong.list,
.view-mode a.list ,
.view-mode a.grid,
.view-mode strong.grid {
    background: url("/images/site/bkg_viewmode.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 21px;
    margin: 0px 0 0;    
    text-align: left;
    text-indent: -999em;
    width:24px;
}
.view-mode strong.list { background-position:-24px -26px; }
.view-mode a.list { background-position: -24px 0; }
.view-mode strong.grid { background-position:0 -26px; }
.view-mode label { float: left; margin: 0 5px 0 0;  }

.products-list li.item { border-bottom:1px solid #F3F4EF; padding:10px; }
.products-list li.item.last { border-bottom:0; }
.products-list .product-image { float:left; width:165px; height:165px; margin:0 0 10px; }
.products-list .product-shop { margin-left:175px; }

.products-list .product-shop .f-fix{ width:400px; }
.products-list .product-shop .f-right{ width:120px;  }

.products-list .product-name { margin:0 0 5px; font-weight:bold; font-size:13px; color:#444;  }
.products-list .product-name a { color:#444; font-size:13px; }
.products-list .product-name a:hover { color:#000; }
.products-list .price-box { float:left; margin:3px 13px 5px 0; }
.products-list .availability { float:left; margin:3px 0 0; }
.products-list .desc { /*clear:both;*/ padding:6px 0 0; margin:0 0 15px; line-height:1.35; }
.products-list .desc .link-learn { font-size:11px; }
.products-list .add-to-links { clear:both; }
.products-list .add-to-links li { display:inline; }
.products-list .add-to-links .separator { display:inline; margin:0 2px; }

.products-grid { background:#0033CC; }
.products-grid .item { float:left; margin-left:24px; margin-bottom:10px; width:190px; padding:0px; text-align:left; position:relative; }
.products-grid .last { margin-right:0; }
.products-grid .cartButton { position:absolute; bottom:30px; right:5px;}
.products-grid .product-price{
	background:url(/images/site/price_box.gif) no-repeat left top;
	color: #000;
	display: block;
	width: 80px;	
	border-radius:70px;
	height:81px;
	top: 0;	
	padding:0px;
	text-align:center;
	z-index:999;
	position: absolute; top:0; left:0;
}
.products-grid .product-price .price-box { position:relative; }
.products-grid .product-price .price-box .price{ text-align:center; position:absolute; top:30px; left:15px;}
.products-grid .product-name { margin:0px 0 0px; font-size:12px; color:#444; padding-top:3px; padding-bottom:3px; margin-top:5px; background:url(/images/site/product_bottombg.jpg) no-repeat top center; padding-top:10px; text-align:center; }
/* PRODUCT ============================================================================== */
.product-view { /*border:1px solid #ddd;*/ padding:0px;}
/* Product Shop */
.col1-layout .product-view .product-shop { float:left; width:587px; padding:0px; }
.col3-layout .product-view .product-shop { float:none; width:auto; }
.product-view .product-shop .product-name { margin:0 0 13px; background:url(/images/site/title_border.gif) repeat-x left bottom; padding-bottom:6px; }
.product-view .product-shop .product-name h1 { margin:0; font:bold 16px/1.35 Arial, Helvetica, sans-serif; color:#333;  }
.product-view .product-shop .availability { margin:5px 0; /*float:right;*/ font-size:12px; font-weight:normal; float:right; }
.product-view .product-shop .short-description { margin:0px 0; /*background:url(/images/site/bkg_divider1.gif) 0 0 repeat-x; padding:10px 0 0; */ padding-bottom:5px; }
.product-view .product-shop .price-box { margin:5px 0; }
.product-view .product-shop .add-to-links { margin:0; }
.product-view .product-shop .add-to-links { font-size:12px; }
.product-view .product-shop .add-to-links li { /*display:inline; padding: 0 6px;*/ text-align:left; margin-bottom:6px; }
.product-view .product-shop .add-to-links li .separator { display:none; }
.product-view .product-shop .add-to-links a { color:#818181 !important; font-weight:bold !important; font-size:12px; padding-top:3px; padding-bottom:3px; }
.product-view .product-shop .add-to-links a:hover { color:#444 !important; font-weight:bold !important; font-size:12px; }
.product-view .product-shop .add-to-box .or { display:none; visibility:hidden; }
.product-view .product-shop .block-related .product-name { margin:0px; padding:0px; background:none; font-size:11px; }
.block-related .product { margin-left:20px; }
.product-view .product-shop .product-left-area{ float:left; width:352px; margin-right:15px;} 
.product-view .product-shop .product-right-area{ float:right; width:220px;} 

.product-view .product-shop .product-left-area .product-infobg{ background:#F8F8F8; padding:4px 10px 10px;}

.product-essential { padding:0px; /*background:#fff url(/images/site/bkg_product-view.gif) 100% 0 no-repeat;*/ }
.product-essential h2 { font: bold 13px/1.35 Arial,Helvetica,sans-serif;    background: none repeat scroll 0 0 #F6F6F6; padding: 8px;}
/* Regular price */
.regular-price { color:#000; }
.regular-price .price { font-weight:bold; font-size:13px; color:#000; }
.block .regular-price,
.block .regular-price .price { color:#000; }
.product-left-area .regular-price .price { font-weight:bold; font-size:15px; color:#B33257; }
/* Product Images */
.product-view .product-img-box { float:left; width:252px; margin-right:15px; padding:0px; }
.product-view .product-info-images{ }
.col3-layout .product-view .product-img-box { float:none; margin:0 auto; }
.product-view .product-img-box .product-image { margin:0 0 3px; border:1px solid #E7E8E6; }
.more-views {  }
.product-view .product-img-box .product-image-zoom { position:relative; width:265px; height:265px; overflow:hidden; z-index:9; }
.product-view .product-img-box .product-image-zoom img { position:absolute; left:0; top:0; cursor:move; }
.product-view .product-img-box .zoom-notice { font-size:11px; margin:0 0 5px; text-align:center; }
.product-view .product-img-box .zoom { position:relative; z-index:9; height:18px; margin:0 auto 13px; padding:0 28px; background:url(/images/site/slider_bg.gif) 50% 50% no-repeat; cursor:pointer; }
.product-view .product-img-box .zoom.disabled { -moz-opacity:.3; -webkit-opacity:.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/*IE8*/ opacity:.3; }
.product-view .product-img-box .zoom #track { position:relative; height:18px; }
.product-view .product-img-box .zoom #handle { position:absolute; left:0; top:-1px; width:9px; height:22px; background:url(/images/site/magnifier_handle.gif) 0 0 no-repeat;  }
.product-view .product-img-box .zoom .btn-zoom-out { position:absolute; left:2px; top:0; }
.product-view .product-img-box .zoom .btn-zoom-in { position:absolute; right:2px; top:0; }
.more-views h2 { font-size:11px; border-bottom:1px solid #E7E8E6; margin:0 0 2px; text-transform:none; background:none; padding:4px; }
.more-views ul { /*margin-left:-9px*/ }
.more-views li { float:left; margin:5px; }
.more-views li a { float:left; width:72px; height:72px; border:1px solid #E7E8E6; overflow:hidden; }


product-collateral { /*background:#faf7ee url(/images/site/bkg_product_collateral.gif) 0 0 repeat-x;*/ padding:0px; margin-top:10px; }
.product-collateral h2 { font-weight:bold; font-size:16px; color:#888; text-shadow:1px 1px #ddd; padding:0 0 1px; margin:0 0 8px; padding-bottom:5px; background:url(/images/site/title_border.gif) repeat-x left bottom; }
.product-collateral .box-collateral { margin:10px 0 0; }
/* Product Tabs */
.product-tabs { background:url(/images/site/bkg_tab_active.gif) no-repeat scroll left top transparent; height:30px; }
.product-tabs li { float:left; background:url(/images/site/bkg_tab.gif) repeat-x scroll left top transparent; border-right:3px solid #FFFFFF; font-size:1.1em; line-height:1em; }
.product-tabs li.first { }
.product-tabs li.active { background:url(/images/site/bkg_tab_active.gif) repeat-x scroll left top transparent; height:34px; }
.product-tabs li.last { border-right:0; }
.product-tabs a { background:url(/images/site/bkg_tab_right.gif) no-repeat scroll right top transparent; font-weight:bold; color:#333; display:block; padding:9px 16px; text-shadow:1px 1px #fff; }
.product-tabs a:hover { text-decoration:none; color:#000; }
.product-tabs li.active a,
.product-tabs li.active a:hover { background:url(/images/site/bkg_tab_active_right.gif) no-repeat scroll right top transparent; color:#fff; text-shadow:1px 1px #777; }
.product-tabs-content h2 { display:none; font-size:12px; font-weight:bold; }
.product-tabs-content { text-align: left; padding:10px; }



.std .subtitle { padding:0; }
.std ol.ol { list-style:decimal outside; padding-left:1.5em; }
.std ul.disc { list-style:disc outside; padding-left:18px; margin:0 0 10px; }
.std dl dt { font-weight:bold; }
.std dl dd { margin:0 0 10px; }


/* = Base Styles
----------------------------------------------------------------------------------------------------*/

h2 {font-size: 152%} /* =20 */



:focus { -moz-outline-style: none; }

/* ----- random base styles and styles used in conjunction with javascript ----- */
.clearfloatNoHeight {clear: both; line-height: 0; height: 0; width:0; display: block; overflow:hidden;}
.clearfloat {clear: both; display: block;}
.floatRight{float:right;}
.floatLeft{float:left;}
img{border:none;}
p{line-height:1.4em; margin:0 0 7px 0; text-align:left;}
.displayNone{display:none;}
.displayBlock{display:block;}
hr{border-top: 1px dashed #BFBFBF;border-right: none;border-bottom: none;border-left: none;*margin-top:-3px;}
ul, ol { list-style-position:inside;}
fieldset{border:none;padding:0;margin:0}
.txtCenter{text-align:center;}

/* ----- base h's ----- */


/* = #mainNav2 & #mainNav3 & #mainNav4 & #mainNav5
----------------------------------------------------------------------------------------------------*/
#mainNav { background:#f4f4f4; margin-bottom:10px; margin-left:0; margin-top:0; padding-left:0;}
#mainNav li{
	height:71px;
	list-style:none;
	float:left;
	background-color:#EBEBEB;
	background-image: url(/images/stepmenu/navBtn.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#mainNav li a { text-decoration:none;}

#mainNav li.current{
	background-color:#C36615;
	background-image: url(/images/stepmenu/navCurrentBtn.gif);
}

#mainNav li.lastDone{
	background-color:#7C8437;
	background-image: url(/images/stepmenu/navLastDoneBtn.gif);
}

#mainNav li.done{
	background-color:#7C8437;
	background-image: url(/images/stepmenu/navDoneBtn.gif);
}

#mainNav li a, #mainNav li a:link, #mainNav li a:visited, #mainNav li a:hover, #mainNav li a:active {
color:#ccc;
}

#mainNav li.lastDone a, #mainNav li.lastDone a:link, #mainNav li.lastDone a:visited, #mainNav li.lastDone a:hover, #mainNav li.lastDone a:active, #mainNav li.current a, #mainNav li.current a:link, #mainNav li.current a:visited, #mainNav li.current a:hover, #mainNav li.current a:active, #mainNav li.done a, #mainNav li.done a:link, #mainNav li.done a:visited, #mainNav li.done a:hover, #mainNav li.done a:active {
color:#fff;
}

#mainNav li.done a:hover, #mainNav li.lastDone a:hover  {
color:#FFFF99;
cursor:hand;
text-decoration:none;
}

#mainNav li a em{
text-decoration:none;
width:210px;
display:block;
margin:6px 0 0 10px;
font-style:normal;
font-weight:bold;
}

#mainNav li a span{
width:300px;
display:block;
margin-left:10px;
font-weight:normal;
}

#mainNav li.mainNavNoBg{
background-image:none;
}

#mainNav li a{
height:71px;
display:block;
}

/* #mainNav.fiveStep */
#mainNav.fiveStep li{width:182px;}
#mainNav.fiveStep li a{width:182px;}

/* #mainNav.fourStep */
#mainNav.fourStep li{width:246px;}
#mainNav.fourStep li.mainNavNoBg{width:248px;}
#mainNav.fourStep li a{width:246px;}
#mainNav.fourStep li span { font-size:11px; }

/* #mainNav.threeStep */
#mainNav.threeStep li{width:284px;}
#mainNav.threeStep li.mainNavNoBg{width:281px;}
#mainNav.threeStep li a{width:281px;}

/* #mainNav.twoStep */
#mainNav.twoStep li{width:390px;}
#mainNav.twoStep li a{width:390px;}
/* Footer ================================================================================ */
.footer-container {  }
.footer {/* height: 360px;*/  margin: 0 auto; padding:0px 25px; background-color:#fff; }
.footer .store-switcher { display:inline; margin:0 5px 0 0; color:#fff; }
.footer .store-switcher label { font-weight:bold; vertical-align:middle; }
.footer .store-switcher select { padding:0; vertical-align:middle; }
.footer a { color:#666; text-decoration:none; }
.footer a:hover { text-decoration:underline; }
.footer .bugs { margin:13px 0 0; color:#666; }
.footer .bugs a { color:#666; text-decoration:underline; }
.footer .bugs a:hover { text-decoration:none; }
.footer address { /*margin:0 0 20px;*/ color:#666; }
.footer address a { color:#666; text-decoration:underline; }
.footer address a:hover { text-decoration:none; }
.footer ul { display:inline; }
.footer ul.links { /*display:block;*/ }
.footer li {  background: url("/images/site/bkg_pipe2.gif") no-repeat scroll right center transparent;
    display: inline;
    padding: 0 16px 0 2px; }
.footer li.last { /*background:none !important; padding-right:0 !important;*/ }
.footer .links li.last {background:none; }
.footer .links li.first { padding:0 16px 0 4px !important;/*padding-left:0 !important;*/ }
.footer-container .bottom-container { margin:0 0 5px; }

.footer-newsletter{ margin-bottom:0; background:url(/images/site/newsletter_borderbg.gif) no-repeat top center; height:46px; }
.footer-newsletter .block-shippingbanner{ float:right; }
.footer-newsletter .block-icon {}
.footer-newsletter .block-subscribe {    	    
	padding-top:10px;
	margin-left:242px;
}
.footer-newsletter .block-subscribe .newsletter-text { width:322px; float:left; }
.footer-newsletter .block-subscribe label{ text-transform:uppercase; font-size:14px; padding-right:5px; padding-top:3px; text-shadow:1px 1px #f1f1f1; float:left; }
.footer-newsletter .block-subscribe input.input-text{   
	background: url("/images/site/newsletter_bg.gif") no-repeat scroll right center transparent;
    border: medium none;    
    margin: 0 6px 0 0;
    padding: 6px 5px;
    width: 215px; 
	float:left;
}
.footer-newsletter .block-subscribe .input-box { }
.footer-newsletter .block-subscribe .input-box .submit-mini-btn{ padding-left: 3px; padding-top: 0;}

.footer-newsletter strong{ font-size:15px; color:#000; float:left;}
.footer-newsletter strong a{ font-size:12px; color:#777; text-decoration:underline; font-weight:normal;}

.footer-newsletter .social-icon{ float:right; padding-top:2px; }
.footer-newsletter .social-icon a{ padding-left:3px;}

.footer-static-links{	    
    margin-bottom:15px; 
	overflow:hidden;   
}	
.link-containt { float:left; width:745px;}
.footer-static-links ul{ float:left; margin-top:15px; width:167px; border-right:1px solid #C5C2B6; margin-right:12px; }

.footer-static-links ul.follow-us{ border-right:none; margin-right:0px; width:218px; }
.footer-static-links ul.follow-us .paypal-icon{ padding:10px 0 0;}

.footer-static-links ul li{ display:block; background:none; }
.footer-static-links ul li strong{ color:#4F4C43; font-weight:bold; font-size:16px; text-shadow:1px 1px #f1f1f1; }
.footer-static-links ul h3{ font-size:12px; font-weight:bold; color:#3c3e3e; background:url(/images/site/static_linkbg.html) no-repeat; padding:3px 0 5px 7px; margin-bottom: 5px;}
.footer-static-links ul li a{ font-size:12px; color:#726F64 ; }
.footer-static-links ul.follow-us li a{ font-size:12px; color:#777; background:none; padding-left:0px; padding-right:6px; }

.footer-static-links ul li a:hover{ color:#000; }

.footer .form-subscribe {     float: left; margin-top: 11px; padding-left: 10px; }
.footer .form-subscribe label { color: #B7204C; font-size: 13px; font-weight: bold; padding-top: 2px; text-transform: uppercase; }
.footer .form-subscribe .input-box {  background: url("/images/site/newsletter_bg.gif") no-repeat scroll 0 0 transparent;  height: 25px; margin: 0 0 0 5px; width: 302px;}
.footer .form-subscribe input.input-text { background: none repeat scroll 0 0 transparent; border: medium none; padding-right: 10px; width: 217px;  padding-top: 5px;}
.footer-static-link {float: left; margin-bottom: 8px; padding: 5px 15px 15px; }
.footer-static-link ul {  float: left; width: 160px;}
.footer-static-link li { background: none repeat scroll 0 0 transparent; display: block; background:url(/images/site/bullet_mini.gif) no-repeat left center;  }

.footer .footer-callus{ text-align:center; margin:10px 0px;}

.footer-static-content{ text-align:center; padding:10px 20px 8px;}
.footer-bottom{ margin-top:5px; }

.footer a { color: #DE7E11; }
.footer a:hover { color: #000; }
.footer ul { display: inline; }

.footer address {font-weight: normal; padding-bottom:2px; text-align:center; width: 1000px; color: #565246; padding-top: 5px;  }

.footer .form-subscribe label, .footer .form-subscribe .input-box, .footer .form-subscribe button.button {   float: left; }
.newsletterbg {  
	background: url("/images/site/newsletter_mainbg.html") no-repeat scroll 0 0 transparent;
    height: 46px;
    margin-bottom: 10px;
    padding-left: 197px;
}


.footer .f-left { float:none !important; text-align:center;  }
.footer .f-right { float:none !important; text-align:center; }


/* ======================================================================================= */

#lang_sel li { float:left; margin-right:10px;  }
.hidden { display:none; }
.float-left { float:left; }
.float-right { float:right;}
.spacer-left { margin-left:10px;}
.spacer-all{ margin:10px;}
.spacer-right { margin-right:10px;}
.spacer-top { margin-top:10px;}
.spacer-bottom { margin-bottom:10px;}
.clear { clear:both;}
.seperator {clear:both; height:10px; }
.seperator-small { clear:both; height:5px; }
.padding { padding:10px; }


.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('/images/ajax-loader.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
.ac_pages li { float:left; margin-right:2px; }
.ac_results li a { 

}

.fieldset { margin: 0 10px 25px; }
.fieldset .legend {     background: none repeat scroll 0 0 #F0F2F0;
    font-size: 13px;
    line-height: 1.25;
    margin: 0 -10px 12px;
    padding: 8px 10px;
	color:#555;
}
#contactForm td { padding-bottom:15px; }
#contactForm input { width:450px; height:22px }
#contactForm textarea { width:450px; height:150px; }


/* dika mou chrissss*/
	
.page-title h1, .page-title h2 {
    background: url("/images/site/bullet.gif") no-repeat scroll left 4px transparent;
    color: #555555;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 3px;
    padding-left: 26px;
}


.form-list input.input-text {
    width: 254px;
}

input.input-text, select, textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
}
input, select, textarea, button {
    color: #2F2F2F;
    font: 12px/15px Arial,Helvetica,sans-serif;
    vertical-align: middle;
}
.buttons-set {
    border-top: 1px solid #E4E4E4;
    clear: both;
    margin: 4em 0 0;
    padding: 8px 0 0;
    text-align: right;
}

p.required {
    color: #EB340A;
    font-size: 11px;
    text-align: right;
}

.buttons-set .back-link {
    float: left;
    margin: 0;
}

.account-login .content h2 {
    background: none repeat scroll 0 0 #F0F2F0;
    color: #555555;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 -10px 12px;
    padding: 8px 10px;
}
.account-login .content {
    min-height: 200px;
    padding: 0 10px;
}

.form-list label {
    color: #666666;
    /*float: left;*/
    font-weight: bold;
    position: relative;
    z-index: 0;
}

.form-list li {
    margin: 0 0 8px;
}
.fields {
	margin: 0 0 8px;	
	}
	
/* 0 Level */
#nav li { float:left; }
#nav li.active a { color:#000; }
#nav a {  
    color: #888;
    float: left;
    font-weight: normal;
    padding: 14px 15px;
	font-size:13px; 
	text-shadow:1px 1px #fff;
 }
#nav li.over a,
#nav a:hover { color:#000; }

/* 1st Level */
#nav ul li,
#nav ul li.active { float:none; margin:0; }
#nav ul li.last { background:url(/images/site/top-submenu-bottombg.gif) no-repeat left bottom; padding-bottom:7px; }

#nav ul a,
#nav ul a:hover { float:none; padding:0; background:none; }
#nav ul li a { font-weight:normal !important; }

#nav a img.downarrowclass{ display:none;  }
#nav a img.rightarrowclass{ display:none;  }

/* 2nd Level */
#nav ul,
#nav div { position:absolute; width:204px; top:42px; left:-10000px; background:url(/images/site/top-submenu-topbg.gif) no-repeat left top; padding-top:8px; z-index:999; 
	box-shadow: 4px 4px 10px 0px #A6A6A6;
	-o-box-shadow: 4px 4px 10px 0px #A6A6A6;
	-moz-box-shadow: 4px 4px 10px 0px #A6A6A6;
	-webkit-box-shadow: 4px 4px 10px 0px #A6A6A6; 
}
#nav div ul { position:static; width:auto; border:none; }

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top:5px; background:url(/images/site/top-submenu-topbg2.gif) no-repeat left top; padding-top:7px; }

#nav ul li a { background:url(/images/site/top-submenubg.gif) repeat top left; border-left:1px solid #DFDFDF; border-right:1px solid #DFDFDF; text-shadow:1px 1px #fff;}
#nav ul li a:hover { background:url(/images/site/top-submenubg.gif) repeat top left; }
#nav ul li a { color:#333 !important; }
#nav ul li a:hover { color:#888787 !important; }
#nav ul span,
#nav ul li li span { padding:4px 0px 4px 8px; }

#nav ul li span {  background:url(/images/site/top-submenu-line.gif) repeat-x left bottom; margin:0px 5px; }
#nav ul li.last span { background:none; margin:0px 5px; }

#nav ul li.last ul li span {  background:url(/images/site/top-submenu-line.gif) repeat-x left bottom; margin:0px 5px; }
#nav ul li.last ul li.last span {  background:none; margin:0px 5px; }

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:999; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:100px; }
/********** Navigation > */
.main { background: url("/images/site/bottom_bg.gif") no-repeat scroll center bottom; min-height:350px; padding:35px 68px 25px; }
.main-container{ background:url(/images/site/main_bg.gif) repeat-y left top;}
/* Base Columns */
.col-left { float:left; width:220px; padding:0 0 1px; }
.col-main {  float: left; width: 614px; }
.col-right { float:right; width:220px; padding:0 0 1px; }
/* 1 Column Layout */
.col1-layout .col-main { float:none; width:auto; }
.col1-layout .main { padding:0px 64px 25px;}
.col1-layout .main .padding { padding:0; }
/* 2 Columns Layout */
.col2-left-layout .col-main { float:right; }
.col2-right-layout .col-main {}


/* Data Table */
.data-table { width:100%; /*border:1px solid #ddd;*/ }
.data-table .odd  { /*background:#fff*/ }
.data-table .even { /*background:#fff;*/ }
/*.data-table tr.odd:hover,
.data-table tr.even:hover { background:#ebf1f6; }*/
.data-table td.last,
.data-table th.last { border-right:0; }
.data-table tr.last th,
.data-table tr.last td { border-bottom:0 !important; }
.data-table th { padding:3px 8px; font-weight:bold; }
.data-table td { padding:3px 8px; }

.data-table thead th { font-weight:bold; /*border-right:1px solid #ddd;*/ padding:6px 8px; color:#444; white-space:nowrap; vertical-align:middle; }
.data-table thead th.wrap { white-space:normal; }
.data-table thead th a,
.data-table thead th a:hover { color:#fff; }
.data-table thead th { /*background:url(../images/bkg_th.gif) repeat-x 0 100% #d9e5ee;*/ background:url(../images/site/pager_bg.gif) repeat;}
.data-table thead th .tax-flag { font-size:11px; white-space:nowrap; }

.data-table tfoot { border-bottom:1px solid #ddd; }
.data-table tfoot tr.first td { /*background:url(../images/bkg_tfoot.gif) 0 0 repeat-x;*/    background:url(../images/site/pager_bg.gif) repeat;
   /* border-top: 1px solid #DDDDDD;*/  padding:6px; }
.data-table tfoot tr { background-color:#eee !important; }
.data-table tfoot td { padding-top:1px; padding-bottom:1px; border-bottom:0; /*border-right:1px solid #ddd;*/ }
.data-table tfoot strong { font-size:16px; }

.data-table tbody th,
.data-table tbody td { /*border-bottom:1px solid #ddd; border-right:1px solid #ddd; */ border-bottom:1px solid #DEDEDE;}
/* Bundle products tables */
.data-table tbody.odd tr { /*background:#f8f7f5 !important; */}
.data-table tbody.even tr { /*background:#f6f6f6 !important; */}
.data-table tbody.odd tr td,
.data-table tbody.even tr td { border-bottom:0; }
.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td {/* border-bottom:1px solid #ddd;*/ }

.data-table tbody td .option-label { font-weight:bold; font-style:italic; }
.data-table tbody td .option-value { padding-left:10px; }

.cart-table th { padding:2px 10px; }
.cart-table td { padding:10px; }
.cart-table .product-name { /*font-weight:bold;*/ margin:0 0 5px; color:#2f2f2f; font-size:12px; }
.cart-table .item-msg { margin:5px 0; font-size:11px; font-weight:bold; color:#df280a; }
.cart-table tfoot td { padding:5px 10px; }

/* Shopping Cart ========================================================================= */
.cart .page-title { border-bottom:0; margin:0 0 12px; }
.cart .page-title h1 { /*margin:10px 0 0;*/ float:none; text-align:left; }

/* Checkout Types */
.cart .page-title .checkout-types li { margin:0 0 5px; }
.cart .title-buttons .checkout-types { float:right; display:none; visibility:hidden; }
.cart .title-buttons .checkout-types li { float:left; margin:0 0 5px 5px; }
.cart .checkout-types .paypal-or { margin:0 8px; line-height:2.3; }
.cart .totals .checkout-types .paypal-or { clear:both; display:block; padding:8px 55px 0 0; line-height:1.0; font-size:11px; }

/* Shopping Cart Totals */
.cart .totals { float:right; width:275px; background:url(../images/site/pager_bg.gif) repeat; color:#333; }
.cart .totals table { width:100%; margin:7px 0; }
.cart .totals td { padding:1px 15px 1px 7px; }
.cart .totals tr.last td {}
.cart .totals tfoot th { padding:5px 15px 5px 7px; }
.cart .totals tfoot td { padding-top:5px; padding-bottom:5px; }
.cart .totals tfoot th strong,
.cart .totals tfoot td strong { font-size:15px; }
.cart .totals .checkout-types { font-size:13px; padding:8px 15px 15px; text-align:right; }
.cart .totals .checkout-types li { clear:both; margin:10px 0; }
.cart .totals .checkout-types li a{ font-weight:bold; }



.opc .buttons-set { margin-top:0; padding-top:2em; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link small {/* display:none;*/ }
.opc .buttons-set .back-link a { /*background:url(../images/i_arrow-top.gif) 0 50% no-repeat;*/ padding-left:16px; }
.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:21px; line-height:21px; }
.opc .ul { list-style:disc outside; padding-left:18px; }

.opc { position:relative; }
.opc li.section {}

.opc .step-title {    
	background:url(../images/site/pager_bg.gif) repeat;
    border-color: #F4F4F4 #DDDDDD #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 1px;
    padding: 6px 8px 6px;
    text-align: right; }
.opc .step-title .number { float:left; background:#fff; border:1px solid #fff; padding:0 4px; margin:0 5px 0 0; font:bold 11px/14px arial, helvetica, sans-serif; color:#999; }
.opc .step-title h2 { float:left; margin:0; font:bold 12px/16px Arial, Helvetica, sans-serif; color:#888; }
.opc .step-title a { display: none; float:right; font-size:11px; line-height:16px; color:#fff;}

.opc .allow .step-title { background:#F1BC81;  border-bottom:0; color:#a4b3b9; cursor:pointer; border-top:1px solid #fff; }
.opc .allow .step-title .number {     background: none repeat scroll 0 0 #fff;    border-color: #fff;    color: #555;}
.opc .allow .step-title h2 { color:#333; }
.opc .allow .step-title a { display:block; }

.opc .active .step-title { background:#949494; border:1px solid #949494; padding-bottom:6px; color:#f18200; cursor:default; opacity:0.9;  }
.opc .active .step-title .number { background:#fff; border-color:#fff; color:#333; }
.opc .active .step-title h2 { color:#fff; }
.opc .active .step-title a { display:none; }

.opc .step { border:1px solid #DDDDDD; border-top:0; /*background:#fff;*/ padding:15px 30px; position:relative; }
.opc .step .tool-tip { right:30px; }

/* Clears ================================================================================ */
.col2-set:after,
.opc .step-title:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

.col-1 h3, .col-2 h3 { font-size:13px; border-bottom:1px solid #e4e4e4; padding-bottom:2px; text-transform:uppercase; }