<form>
<input type="hidden" name="id" class="SaveData" value="{$album.id}"/>
<div>{$lang.title}:</div>
<div><input type="text" value="{$album.title}" name="title" class="SaveData" /></div>

<div>{$lang.description}:</div>
<div><textarea name="description" class="SaveData">{$album.description}</textarea></div>

<div><input type="button" value="{$lang.save}" id="saveAlbum" /></div>
</form>
