<form>
<div class="row">
<div><img src="/media_files/users/{$ID}/images/thumbs/{$image.original_file}" /></div>
</div>

<div class="row">
<div>{$lang.title}</div>
<input type="hidden" name="id" class="SaveData"  value="{$image.id}" />
<input type="hidden" name="albumid" class="SaveData"  value="{$image.albumid}" />
<div><input type="text" name="title" class="SaveData" value="{$image.title}" /></div>
</div>
<div class="row">
<div>{$lang.active}</div>
<div><input type="checkbox" name="available" class="SaveData" value="1" {if $image.available eq 1}checked{/if}/></div>
</div>
<div class="row">
<input type="button" value="{$lang.save}" id="saveImage"/>
</div>
</form>
