{*
{include file="admin2/ajax/item/itemsQuickSearch.tpl"}
<div id="quickSearchGrid"></div>

<script id="quickSearchActions" type="text/kendo-ui-template">
	<a href="\\#" class="addItem"><span id="#= id #" class="k-icon k-add k-add-cat"  data-module="{$smarty.get.module}" ></span></a>
</script>
<script type="text/x-kendo-template" id="toolBar">
	<div class="k-button k-button-icontext Filter float-right" id="Filter-PagesSearch" data-id="gridview">Filter&nbsp;&nbsp;<span class=" k-icon k-filter"></span></div>
</script>

*}