<script id="resultsTemplate" type="text/x-kendo-template">
like 
<a href="\\#" id="get">test url</a>
<div id="comment-id">

# $.each(data[0].featured,function(k,a) { #
		# if (a.item.image_full) { #
		<div style="float:left;"><img src="#= a.item.image_full.thumb #" /></div>
		# } #
		<div style="float:left;">
				<h3><a href="\\#" data-bind="click: doActions" data-href="/en/content/#= a.item.category[0].categoryid #/index.html" data-method="actionUrl">
					#= a.item.title #
				</a></h3>
		</div>
		<br style="clear: both;"/>
		
		<div>#= a.item.description #</div>
       
		# if ( data[0].user.profile.settings.category == a.item.category[0].categoryid || data[0].user.profile.settings.category === undefined ) { #
 			<div class="fb-like" data-category="#= a.item.category[0].categoryid #" data-href="http://en/content/#= a.item.category[0].categoryid #/index.html" data-send="false" data-layout="button_count" data-width="100"></div>
		# } #		
		<div class="seperator"> </div>
# }); #

</div>

	<script>
		FB.XFBML.parse(document.getElementById("comment-id"));
	</script>
	
</script>
