<div id="uploadWindow"></div>
	<input type="hidden" name="itemID" value="#= id #" />
<a href="\\#" class="btn_c btn uploadWindow" rel="\\#imagePlaceHolder" data-fileType="image" data-imageCategory="" data-callback="image_uploaded" data-parent="">Upload photo</a>
