<table>
{foreach from=$messages item=message}
  <tr>
  	<td>{$message.userDetails.uname}</td>
 	<td>msgid={$message.msgid}</td>
        <td>{$message.messageText}</td>
        <td>
        {if $message.dlrStatus=="DELVRD"}
        <span style="color:green">{$message.dlrStatus}</span>
        {elseif $message.dlrStatus=="UNDELVRD"}
        <span style="color:yellow">{$message.dlrStatus}</span>
        {else}
        <span style="color:red">{$message.dlrStatus}</span>
        {/if}
        </td>
  </tr>
{/foreach}
</table>