

	{foreach from=$settings.get key=k item=a name=b}
		<input type="hidden" name="{$k}" class="grid_posted"  data-grid="gridview_cat" value="{$a}"  />
	{/foreach}
		<table id="gridview_cat">
		 	<thead>
      		<tr>
      			{foreach from=$settings.columns item=a name=b}
      				<th data-field="{$a.field}" data-width="{$a.width}" data-filterable="false" data-title="{$a.title}">{$a.title}</th>		
          		{/foreach}
          		<th>&nbsp;</th>
      		</tr>
  			</thead>
		</table>
		
		     <script type="text/javascript"  src='/scripts/admin2/categories/gridCategories_f.js'></script>
		     
		  
		     
		     
			{$ftpl}
		
		

		
	

		