{literal}
<script language="javascript">
function popup_save () {
{/literal}
	window.open ("{$URL}/cpanel/user_services.php?mode=adds{if $smarty.post.sid}&sid={$smarty.post.sid}{/if}", "editpop","width=300,height=10,toolbar=no,status=no,scrollbars=yes,resizable=no,menubar=no,location=no,direction=no,top=300,left=300");
{literal}
}
</script>
{/literal}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="18"><a href="javascript:popup_save();"><img src="{$ImagesDir}/individual/cpanel/save_f2.png" width="16" height="16" border="0"></a> </td>
    <td> {if $smarty.post.sid OR $smarty.get.sid}{$lang.update}{else}{$lang.save}{/if} {$lang.search} </td>
  </tr>
</table>
