<TABLE>
      <TR>
        <TD id="close2" style="cursor: hand;" onClick="visibleBox('2')"><IMG src="{$ImagesDir}/plus.gif" border="0" align="absmiddle" alt="Click to open"></TD>
        <TD id="open2" style="display: none; cursor: hand;" onClick="visibleBox('2')"><IMG src="{$ImagesDir}/minus.gif" border="0" align="absmiddle" alt="Click to close"></TD>
        <TD><A href="javascript:void(0);" onClick="visibleBox('2')"><B>{$lang.quick_navigation}</B></A></TD>
      </TR>
      </TABLE>
<TABLE border="0" cellpadding="0" cellspacing="0" width="400" style="display: none;" id="box2" name="box1">
<tr>
<td>
<div class="tab-pane" id="tabPane1">

<script type="text/javascript">
tp1 = new WebFXTabPane( document.getElementById( "tabPane1" ) );
//tp1.setClassNameTag( "dynamic-tab-pane-control-luna" );
//alert( 0 )
</script>

	<div class="tab-page" id="tabPage1">
		<h2 class="tab">{$lang.history}</h2>
		
		<script type="text/javascript">tp1.addTabPage( document.getElementById( "tabPage1" ) );</script>
{include file="cpanel/user_history.tpl"}
    </div>
<div class="tab-page" id="tabPage2">
		<h2 class="tab">{$lang.saved_searches}</h2>
		
		<script type="text/javascript">tp1.addTabPage( document.getElementById( "tabPage2" ) );</script>
{include file="cpanel/user_searches.tpl"}
  </div>
<div class="tab-page" id="tabPage3">
		<h2 class="tab">{$lang.user_favorites}</h2>
		
		<script type="text/javascript">tp1.addTabPage( document.getElementById( "tabPage3" ) );</script>
{include file="cpanel/user_favorites.tpl"}
  </div>
</div>

</td>
</tr>
</TABLE>