<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  {section name=a loop=$notifications}
  <tr>
    <td><a href="{$SELF}?t=nts&id={$notifications[a].id}">notification on alert {$notifications[a].alert}</a> </td>
    <td>&nbsp;</td>
  </tr>
  {/section}
</table>
{if $smarty.get.id}
{literal}
<script language="javascript">
function popup_save (id) {
{/literal}
	window.open ("{$URL}/cpanel/user_services.php?mode=addf&id="+id, "editpop","width=300,height=10,toolbar=no,status=no,scrollbars=yes,resizable=no,menubar=no,location=no,direction=no,top=300,left=300");
{literal}
}
</script>
{/literal}
{$nots.alert}<br><br>
{foreach key=key item=item from=$nots.products}
{section name=b loop=$item}
{$item[b].title} <a href="javascript:popup_save('{$item[b].id}');"><img src="{$ImagesDir}/individual/cpanel/save_f2.png" width="16" height="16" border="0"></a><br>
{/section}
{/foreach}

<a href="{$SELF}?t=delnts&id={$nots.id}">{$lang.delete_notification}</a>
{/if}