<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="10">&nbsp;</td>
    <td><a href="#" onClick="return GB_show('{$lang.save_property}', '{$URL}/panel/user_services.php?mode=addf&id={$product.id}', 500, 500);return false;" title="{$lang.save_property}"></a> <a href="#" onClick="return GB_show('{$lang.tell_a_friend}', '{$URL}/panel/user_services.php?mode=tell&id={$product.id}', 700, 500);return false;" title="{$lang.tell_a_friend}"><img src="{$ImagesDir}/individual/cpanel/email.png" width="16" height="16" border="0"></a> <a href="#" onClick="return GB_show('{$lang.print_format}', '{$URL}/panel/user_services.php?mode=print&id={$product.id}', 500, 500);return false;" title="{$lang.print_format}"><img src="{$ImagesDir}/individual/cpanel/printer.png" width="16" height="16" border="0"></a> <a href="#" onClick="return GB_show('{$lang.save_pdf}', '{$URL}/panel/user_services.php?mode=pdf&id={$product.id}', 500, 500);return false;" title="{$lang.save_pdf}"></a></td>
  </tr>
</table>
