<table width="400" border="0" align="center" cellpadding="0" cellspacing="1">
  {if $subscriptions ne 0}
  <tr>
      <td align="center" class="categoryBox">{$lang.title}</td>
    <td align="center" class="categoryBox">{$lang.date_added}</td>
    <td align="center" class="categoryBox">&nbsp;</td>
  </tr>
  {section name=f loop=$subscriptions}
  <tr>
    <td>{$subscriptions[f].subscription}</td>
    <td>{$subscriptions[f].date_added}</td>
    <td><a href="{$SELF}?t=delsbs&id={$subscriptions[f].groupid}" title="{$lang.delete}"><img src="{$ImagesDir}/individual/cpanel/delete.icon.gif" width="18" height="18" alt="{$lang.delete}" border="0"></a></td>
  </tr>
  {/section}
  {else}
  <tr>
    <td colspan="3">
	{$lang.no_subscriptions}
	<br />
	<table width="100%" cellpadding="0" cellspacing="0">
	<form name="form" action="{$SELF}" method="post">
	{section name=a loop=$subs}
	<tr>
	<td align="center" width="2">
	 <input type="checkbox" name="id-{$subs[a].id}" value="1" /> 
	 </td>
	 <td>
	   <strong>{$subs[a].title}	</strong>	   </td>
	</tr>
	{/section}
	<tr><td colspan="2" align="center"><input type="submit" value="{$lang.save}" />
	  <input name="mode" type="hidden" id="mode" value="addsub" /></td>
	</tr>
	</form>
	</table>
	</td>
  </tr>
  {/if}
</table>
