<ul class="sepH_b">
{foreach from=$items item=a name=b}
<li class="sepH_a_line cf">
{if $a.active eq 1}<span class="fr notification ok_bg">{$lang.active}</span>{elseif $a.active eq 2}<span class="fr notification neutral_bg">{$lang.draft}</span>{else}<span class="fr notification error_bg">{$lang.inactive}</span>{/if}
<span class="s_color">{$smarty.foreach.b.iteration}. </span><a href="#" class="sepV_b truncate">{$a.title|truncate:70}</a>
<span class="small s_color">{$a.date_added|date_format:"%d/%m/%Y @ %H:%M"}</span>
<div class="row-actions hidden"><span class="edit"><a href="http://testing.home.local/wordpress/wp-admin/post.php?action=edit&amp;post=1" title="Edit this post">Edit</a> | </span><span class="inline hide-if-no-js"><a href="#" class="editinline" title="Edit this post inline">Quick&nbsp;Edit</a> | </span><span class="trash"><a class="submitdelete" title="Move this post to the Trash" href="http://testing.home.local/wordpress/wp-admin/post.php?action=trash&amp;post=1&amp;_wpnonce=3dc24c3372">Trash</a> | </span><span class="view"><a href="http://testing.home.local/wordpress/?p=1" title="View “Hello world!”" rel="permalink">View</a></span></div>
											</li> 
{/foreach}
										</ul>
<a href="#" class="btn btn_aS">Show all articles</a>