<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>


	<script type="text/javascript">
		
        head.ready(function(){
			lga_tips.init();
			lga_timepicker.init();
			lga_flowTabs.tabs_b();
			$(".multiselect").multiselect();

		})
	</script>

</head>

<body>
{include file=$include_file}
</body>
</html>
