{if $target eq "admin_categories"}
 {if $nav ne "0"}:: {section name=w loop=$nav}<a href="{$MODULE_FOLDER}/categories.php?cat={$nav[w].categoryid}" class="navpath" title="{$nav[w].category}">{$nav[w].category}</a> {if !$nav[w].last}::{/if} {/section}{/if}{if  $content.title} :: <strong>{$content.title}</strong>{/if}
{else}
{if $nav ne "0"}{section name=w loop=$nav}<a href="{$URL}/{$nav[w].settings.cat_alias}.html" class="navpath" title="{$nav[w].category}">{$nav[w].category}</a> {if !$nav[w].last}/{/if} {/section}{/if}
{/if}