{include file="modules/maps/admin/menu.tpl"}
{include file="modules/maps/admin/display_maps.tpl" type="edit"}
<div style="clear:both; margin-top:20px"></div>
<form action="" method="post"><input name="address" type="text" id="address" /><input name="Button" type="button" value="Button"  class="submit"/>
</form>
<div style="clear:both; margin-top:20px"></div>
<div style="padding-left:100px"><div id="map" style="width:500px; height:500px; clear:both;"></div></div>
{literal}
<script>

		

(function($){

 // $('#map').jmap('init', {mapCenter:[35.510290,24.026900], mapType:'sat', mapZoom:2, mapEnableType:true});
  //$('#map').jmap("addMarker", {pointLatLng:[35.510290,24.026900], pointHTML: "Point 1",pointIsDraggable:true});
  //$('#map').jmap("addMarker", {pointLatLng:[36.510180,24.026900], pointHTML: "Point 2"});
 // $('#map').jmap('addFeed', {feedUrl:'http://www.orfeas-constructions.com/docs/mykml.xml'});
	
var map = initGmap({mapCenter: [35.510290,24.026900],  mapZoom:7},"map");
initGmap.addFeed(map,{feedUrl:'/docs/mykml.xml', pointIsDraggable:'true' });


	$('.submit').click(function(){
  initGmap.searchAddress(map, {
    address: $('#address').val(), pointIsDraggable:'true' 
  })
	});	




})(jQuery);
</script>
{/literal}