{if $mode eq "product_marker"}
<form action="" onsubmit="initGmap.storeMarker(this,'sds'); return false;" method="post" id="AddMarkerForm" name="AddMarkerForm">
     <fieldset style="width:150px;">
          <legend>New Marker</legend>
          <label for="title">Title</label>
          <input type="text" id="title" name="title" style="width:100%;"/>
          <label for="location_name">Location Name</label>
          <input type="text" id="location_name" name="location_name" style="width:100%;"/>
          <input type="button" value="Save" onClick="initGmap.storeMarker('AddMarkerForm','sds');"/>
          <input type="hidden" id="longitude"/>
     <input type="hidden" id="latitude"/>
     </fieldset>
</form>

{/if}