/**************************
*
*	GENERAL
*
**************************/
.mcmsSlider_wrap a, .mcmsSlider_wrap img, 
.mcmsSlider_wrap ol, .mcmsSlider_wrap ul, .mcmsSlider_wrap li,
.mcmsSlider_wrap table, .mcmsSlider_wrap tbody, .mcmsSlider_wrap tfoot, .mcmsSlider_wrap thead, .mcmsSlider_wrap tr, .mcmsSlider_wrap th, .mcmsSlider_wrap td
.mcmsSlider_thumbs_wrap a, .mcmsSlider_thumbs_wrap img, 
.mcmsSlider_thumbs_wrap ol, .mcmsSlider_thumbs_wrap ul, .mcmsSlider_thumbs_wrap li,
.mcmsSlider_thumbs_wrap table, .mcmsSlider_thumbs_wrap tbody, .mcmsSlider_thumbs_wrap tfoot, .mcmsSlider_thumbs_wrap thead, .mcmsSlider_thumbs_wrap tr, .mcmsSlider_thumbs_wrap th, .mcmsSlider_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
.mcmsSlider_wrap {
	display: none;
	float: left;
	position: relative;
	z-index: 0;
}
.mcmsSlider_wrap img {
	max-width: none!important;
}
.mcmsSlider_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.mcmsSlider_wrap {
	width: 100%;
}
.mcmsSlider_src {
	display: none;
}
.mcmsSliderCont, .mcmsSliderContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.mcmsSliderSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.mcmsSliderContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.mcmsSlider_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.mcmsSlider_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.mcmsSlider_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.mcmsSlider_target_content .mcmsSlider_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.mcmsSlider_loader {
    background: #fff url(/scripts/slider/images/mcmsSlider-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(/scripts/slider/images/mcmsSlider-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.mcmsSlider_bar {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.mcmsSlider_thumbs_wrap.mcmsSlider_left .mcmsSlider_bar, .mcmsSlider_thumbs_wrap.mcmsSlider_right .mcmsSlider_bar {
	height: 100%;
	position: absolute;
	width: auto;
}
.mcmsSlider_thumbs_wrap.mcmsSlider_bottom .mcmsSlider_bar, .mcmsSlider_thumbs_wrap.mcmsSlider_top .mcmsSlider_bar {
	height: auto;
	position: absolute;
	width: 100%;
}
.mcmsSlider_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.mcmsSlider_caption {
	bottom: 0;
	display: block;
	position: absolute;
	width: 100%;
}
.mcmsSlider_caption > div {
	padding: 10px 20px;
}
.mcmsSliderrelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.mcmsSlider_prevThumbs {
	bottom: 4px;
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.mcmsSlider_prevThumbs div {
	background: url(/scripts/slider/images/mcmsSlider_skins.png) no-repeat -160px 0;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.mcmsSlider_nextThumbs {
	bottom: 4px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.mcmsSlider_nextThumbs div {
	background: url(/scripts/slider/images/mcmsSlider_skins.png) no-repeat -190px 0;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.mcmsSlider_command_wrap .hideNav {
	display: none;
}
.mcmsSlider_command_wrap {
	left: 0;
	position: relative;
	right:0;
	z-index: 4;
}
.mcmsSlider_pag_ul { position:absolute; bottom:-10px; right:55px; }
.mcmsSlider_wrap .mcmsSlider_pag .mcmsSlider_pag_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.mcmsSlider_wrap .mcmsSlider_pag .mcmsSlider_pag_ul li {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 20px 5px;
	position: relative;
	text-align: left;
	text-indent: -9999px;
	width: 16px;
}
.mcmsSlider_commands_emboss .mcmsSlider_pag .mcmsSlider_pag_ul li {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.mcmsSlider_wrap .mcmsSlider_pag .mcmsSlider_pag_ul li > span {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 8px;
	left: 4px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	width: 8px;
}
.mcmsSlider_commands_emboss .mcmsSlider_pag .mcmsSlider_pag_ul li:hover > span {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.mcmsSlider_wrap .mcmsSlider_pag .mcmsSlider_pag_ul li.mcmsSlidercurrent > span {
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}
.mcmsSlider_pag_ul li img {
	display: none;
	position: absolute;
}
.mcmsSlider_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
	top: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
}
.mcmsSlider_prev, .mcmsSlider_next, .mcmsSlider_commands {
	cursor: pointer;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 2;
}
.mcmsSlider_prev {
	left: 0;
}
.mcmsSlider_prev > span {
	background: url(/scripts/slider/images/mcmsSlider_skins.png) no-repeat 0 0;
	display: block;
	height: 40px;
	width: 40px;
}
.mcmsSlider_next {
	right: 0;
}
.mcmsSlider_next > span {
	background: url(/scripts/slider/images/mcmsSlider_skins.png) no-repeat -40px 0;
	display: block;
	height: 40px;
	width: 40px;
}
.mcmsSlider_commands {
	right: 41px;
}
.mcmsSlider_commands > .mcmsSlider_play {
	background: url(/scripts/slider/images/mcmsSlider_skins.png) no-repeat -80px 0;
	height: 40px;
	width: 40px;
}
.mcmsSlider_commands > .mcmsSlider_stop {
	background: url(/scripts/slider/images/mcmsSlider_skins.png) no-repeat -120px 0;
	display: block;
	height: 40px;
	width: 40px;
}
.mcmsSlider_wrap .mcmsSlider_pag .mcmsSlider_pag_ul li {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 20px 5px;
	position: relative;
	text-indent: -9999px;
	width: 16px;
}
.mcmsSlider_thumbs_cont {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.mcmsSlider_commands_emboss .mcmsSlider_thumbs_cont {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.mcmsSlider_thumbs_cont > div {
	float: left;
	width: 100%;
}
.mcmsSlider_thumbs_cont ul {
	overflow: hidden;
	padding: 3px 4px 8px;
	position: relative;
	text-align: center;
}
.mcmsSlider_thumbs_cont ul li {
	display: inline;
	padding: 0 4px;
}
.mcmsSlider_thumbs_cont ul li > img {
	border: 1px solid;
	cursor: pointer;
	margin-top: 5px;
	vertical-align:bottom;
}
.mcmsSlider_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.mcmsSlider_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}
/**************************
*
*	COLORS & SKINS
*
**************************/
.pattern_1 .mcmsSlider_overlayer {
	background: url(/scripts/slider/images/patterns/overlay1.png) repeat;
}
.pattern_2 .mcmsSlider_overlayer {
	background: url(/scripts/slider/images/patterns/overlay2.png) repeat;
}
.pattern_3 .mcmsSlider_overlayer {
	background: url(/scripts/slider/images/patterns/overlay3.png) repeat;
}
.pattern_4 .mcmsSlider_overlayer {
	background: url(/scripts/slider/images/patterns/overlay4.png) repeat;
}
.pattern_5 .mcmsSlider_overlayer {
	background: url(/scripts/slider/images/patterns/overlay5.png) repeat;
}
.pattern_6 .mcmsSlider_overlayer {
	background: url(/scripts/slider/images/patterns/overlay6.png) repeat;
}
.pattern_7 .mcmsSlider_overlayer {
	background: url(/scripts/slider/images/patterns/overlay7.png) repeat;
}
.pattern_8 .mcmsSlider_overlayer {
	background: url(/scripts/slider/images/patterns/overlay8.png) repeat;
}
.pattern_9 .mcmsSlider_overlayer {
	background: url(/scripts/slider/images/patterns/overlay9.png) repeat;
}
.pattern_10 .mcmsSlider_overlayer {
	background: url(/scripts/slider/images/patterns/overlay10.png) repeat;
}
.mcmsSlider_caption {
	color: #fff;
	position:absolute; bottom:60px;
}
.mcmsSlider_caption > div {
	background: #000;
	background: rgba(0, 0, 0, 0.8);
}
.mcmsSlider_wrap .mcmsSlider_pag .mcmsSlider_pag_ul li {
	background: #b7b7b7;
}
.mcmsSlider_wrap .mcmsSlider_pag .mcmsSlider_pag_ul li:hover > span {
	background: #b7b7b7;
}
.mcmsSlider_wrap .mcmsSlider_pag .mcmsSlider_pag_ul li.mcmsSlidercurrent > span {
	background: #434648;
}
.mcmsSlider_pag_ul li img {
	border: 4px solid #e6e6e6;
	-moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.mcmsSlider_pag_ul .thumb_arrow {
    border-top-color: #e6e6e6;
}
.mcmsSlider_prevThumbs, .mcmsSlider_nextThumbs, .mcmsSlider_prev, .mcmsSlider_next, .mcmsSlider_commands, .mcmsSlider_thumbs_cont {
	background: #d8d8d8;
	background: rgba(216, 216, 216, 0.85);
}
.mcmsSlider_wrap .mcmsSlider_pag .mcmsSlider_pag_ul li {
	background: #b7b7b7;
}
.mcmsSlider_thumbs_cont ul li > img {
	border-color: 1px solid #000;
}
/*AMBER SKIN*/
.mcmsSlider_amber_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -160px;
}
.mcmsSlider_amber_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -160px;
}
.mcmsSlider_amber_skin .mcmsSlider_prev > span {
	background-position: 0 -160px;
}
.mcmsSlider_amber_skin .mcmsSlider_next > span {
	background-position: -40px -160px;
}
.mcmsSlider_amber_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -160px;
}
.mcmsSlider_amber_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -160px;
}
/*ASH SKIN*/
.mcmsSlider_ash_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -200px;
}
.mcmsSlider_ash_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -200px;
}
.mcmsSlider_ash_skin .mcmsSlider_prev > span {
	background-position: 0 -200px;
}
.mcmsSlider_ash_skin .mcmsSlider_next > span {
	background-position: -40px -200px;
}
.mcmsSlider_ash_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -200px;
}
.mcmsSlider_ash_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -200px;
}
/*AZURE SKIN*/
.mcmsSlider_azure_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -240px;
}
.mcmsSlider_azure_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -240px;
}
.mcmsSlider_azure_skin .mcmsSlider_prev > span {
	background-position: 0 -240px;
}
.mcmsSlider_azure_skin .mcmsSlider_next > span {
	background-position: -40px -240px;
}
.mcmsSlider_azure_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -240px;
}
.mcmsSlider_azure_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -240px;
}
/*BEIGE SKIN*/
.mcmsSlider_beige_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -120px;
}
.mcmsSlider_beige_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -120px;
}
.mcmsSlider_beige_skin .mcmsSlider_prev > span {
	background-position: 0 -120px;
}
.mcmsSlider_beige_skin .mcmsSlider_next > span {
	background-position: -40px -120px;
}
.mcmsSlider_beige_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -120px;
}
.mcmsSlider_beige_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -120px;
}
/*BLACK SKIN*/
.mcmsSlider_black_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -40px;
}
.mcmsSlider_black_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -40px;
}
.mcmsSlider_black_skin .mcmsSlider_prev > span {
	background-position: 0 -40px;
}
.mcmsSlider_black_skin .mcmsSlider_next > span {
	background-position: -40px -40px;
}
.mcmsSlider_black_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -40px;
}
.mcmsSlider_black_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -40px;
}
/*BLUE SKIN*/
.mcmsSlider_blue_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -280px;
}
.mcmsSlider_blue_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -280px;
}
.mcmsSlider_blue_skin .mcmsSlider_prev > span {
	background-position: 0 -280px;
}
.mcmsSlider_blue_skin .mcmsSlider_next > span {
	background-position: -40px -280px;
}
.mcmsSlider_blue_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -280px;
}
.mcmsSlider_blue_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -280px;
}
/*BROWN SKIN*/
.mcmsSlider_brown_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -320px;
}
.mcmsSlider_brown_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -320px;
}
.mcmsSlider_brown_skin .mcmsSlider_prev > span {
	background-position: 0 -320px;
}
.mcmsSlider_brown_skin .mcmsSlider_next > span {
	background-position: -40px -320px;
}
.mcmsSlider_brown_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -320px;
}
.mcmsSlider_brown_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -320px;
}
/*BURGUNDY SKIN*/
.mcmsSlider_burgundy_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -360px;
}
.mcmsSlider_burgundy_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -360px;
}
.mcmsSlider_burgundy_skin .mcmsSlider_prev > span {
	background-position: 0 -360px;
}
.mcmsSlider_burgundy_skin .mcmsSlider_next > span {
	background-position: -40px -360px;
}
.mcmsSlider_burgundy_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -360px;
}
.mcmsSlider_burgundy_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -360px;
}
/*CHARCOAL SKIN*/
.mcmsSlider_charcoal_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -400px;
}
.mcmsSlider_charcoal_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -400px;
}
.mcmsSlider_charcoal_skin .mcmsSlider_prev > span {
	background-position: 0 -400px;
}
.mcmsSlider_charcoal_skin .mcmsSlider_next > span {
	background-position: -40px -400px;
}
.mcmsSlider_charcoal_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -400px;
}
.mcmsSlider_charcoal_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -400px;
}
/*CHOCOLATE SKIN*/
.mcmsSlider_chocolate_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -440px;
}
.mcmsSlider_chocolate_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -440px;
}
.mcmsSlider_chocolate_skin .mcmsSlider_prev > span {
	background-position: 0 -440px;
}
.mcmsSlider_chocolate_skin .mcmsSlider_next > span {
	background-position: -40px -440px;
}
.mcmsSlider_chocolate_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -440px;
}
.mcmsSlider_chocolate_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -440px	;
}
/*COFFEE SKIN*/
.mcmsSlider_coffee_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -480px;
}
.mcmsSlider_coffee_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -480px;
}
.mcmsSlider_coffee_skin .mcmsSlider_prev > span {
	background-position: 0 -480px;
}
.mcmsSlider_coffee_skin .mcmsSlider_next > span {
	background-position: -40px -480px;
}
.mcmsSlider_coffee_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -480px;
}
.mcmsSlider_coffee_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -480px	;
}
/*CYAN SKIN*/
.mcmsSlider_cyan_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -520px;
}
.mcmsSlider_cyan_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -520px;
}
.mcmsSlider_cyan_skin .mcmsSlider_prev > span {
	background-position: 0 -520px;
}
.mcmsSlider_cyan_skin .mcmsSlider_next > span {
	background-position: -40px -520px;
}
.mcmsSlider_cyan_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -520px;
}
.mcmsSlider_cyan_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -520px	;
}
/*FUCHSIA SKIN*/
.mcmsSlider_fuchsia_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -560px;
}
.mcmsSlider_fuchsia_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -560px;
}
.mcmsSlider_fuchsia_skin .mcmsSlider_prev > span {
	background-position: 0 -560px;
}
.mcmsSlider_fuchsia_skin .mcmsSlider_next > span {
	background-position: -40px -560px;
}
.mcmsSlider_fuchsia_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -560px;
}
.mcmsSlider_fuchsia_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -560px	;
}
/*GOLD SKIN*/
.mcmsSlider_gold_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -600px;
}
.mcmsSlider_gold_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -600px;
}
.mcmsSlider_gold_skin .mcmsSlider_prev > span {
	background-position: 0 -600px;
}
.mcmsSlider_gold_skin .mcmsSlider_next > span {
	background-position: -40px -600px;
}
.mcmsSlider_gold_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -600px;
}
.mcmsSlider_gold_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -600px	;
}
/*GREEN SKIN*/
.mcmsSlider_green_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -640px;
}
.mcmsSlider_green_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -640px;
}
.mcmsSlider_green_skin .mcmsSlider_prev > span {
	background-position: 0 -640px;
}
.mcmsSlider_green_skin .mcmsSlider_next > span {
	background-position: -40px -640px;
}
.mcmsSlider_green_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -640px;
}
.mcmsSlider_green_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -640px	;
}
/*GREY SKIN*/
.mcmsSlider_grey_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -680px;
}
.mcmsSlider_grey_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -680px;
}
.mcmsSlider_grey_skin .mcmsSlider_prev > span {
	background-position: 0 -680px;
}
.mcmsSlider_grey_skin .mcmsSlider_next > span {
	background-position: -40px -680px;
}
.mcmsSlider_grey_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -680px;
}
.mcmsSlider_grey_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -680px	;
}
/*INDIGO SKIN*/
.mcmsSlider_indigo_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -720px;
}
.mcmsSlider_indigo_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -720px;
}
.mcmsSlider_indigo_skin .mcmsSlider_prev > span {
	background-position: 0 -720px;
}
.mcmsSlider_indigo_skin .mcmsSlider_next > span {
	background-position: -40px -720px;
}
.mcmsSlider_indigo_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -720px;
}
.mcmsSlider_indigo_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -720px	;
}
/*KHAKI SKIN*/
.mcmsSlider_khaki_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -760px;
}
.mcmsSlider_khaki_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -760px;
}
.mcmsSlider_khaki_skin .mcmsSlider_prev > span {
	background-position: 0 -760px;
}
.mcmsSlider_khaki_skin .mcmsSlider_next > span {
	background-position: -40px -760px;
}
.mcmsSlider_khaki_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -760px;
}
.mcmsSlider_khaki_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -760px	;
}
/*LIME SKIN*/
.mcmsSlider_lime_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -800px;
}
.mcmsSlider_lime_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -800px;
}
.mcmsSlider_lime_skin .mcmsSlider_prev > span {
	background-position: 0 -800px;
}
.mcmsSlider_lime_skin .mcmsSlider_next > span {
	background-position: -40px -800px;
}
.mcmsSlider_lime_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -800px;
}
.mcmsSlider_lime_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -800px	;
}
/*MAGENTA SKIN*/
.mcmsSlider_magenta_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -840px;
}
.mcmsSlider_magenta_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -840px;
}
.mcmsSlider_magenta_skin .mcmsSlider_prev > span {
	background-position: 0 -840px;
}
.mcmsSlider_magenta_skin .mcmsSlider_next > span {
	background-position: -40px -840px;
}
.mcmsSlider_magenta_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -840px;
}
.mcmsSlider_magenta_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -840px	;
}
/*MAROON SKIN*/
.mcmsSlider_maroon_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -880px;
}
.mcmsSlider_maroon_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -880px;
}
.mcmsSlider_maroon_skin .mcmsSlider_prev > span {
	background-position: 0 -880px;
}
.mcmsSlider_maroon_skin .mcmsSlider_next > span {
	background-position: -40px -880px;
}
.mcmsSlider_maroon_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -880px;
}
.mcmsSlider_maroon_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -880px	;
}
/*ORANGE SKIN*/
.mcmsSlider_orange_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -920px;
}
.mcmsSlider_orange_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -920px;
}
.mcmsSlider_orange_skin .mcmsSlider_prev > span {
	background-position: 0 -920px;
}
.mcmsSlider_orange_skin .mcmsSlider_next > span {
	background-position: -40px -920px;
}
.mcmsSlider_orange_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -920px;
}
.mcmsSlider_orange_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -920px	;
}
/*OLIVE SKIN*/
.mcmsSlider_olive_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -1080px;
}
.mcmsSlider_olive_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -1080px;
}
.mcmsSlider_olive_skin .mcmsSlider_prev > span {
	background-position: 0 -1080px;
}
.mcmsSlider_olive_skin .mcmsSlider_next > span {
	background-position: -40px -1080px;
}
.mcmsSlider_olive_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -1080px;
}
.mcmsSlider_olive_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -1080px	;
}
/*PINK SKIN*/
.mcmsSlider_pink_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -960px;
}
.mcmsSlider_pink_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -960px;
}
.mcmsSlider_pink_skin .mcmsSlider_prev > span {
	background-position: 0 -960px;
}
.mcmsSlider_pink_skin .mcmsSlider_next > span {
	background-position: -40px -960px;
}
.mcmsSlider_pink_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -960px;
}
.mcmsSlider_pink_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -960px	;
}
/*PISTACHIO SKIN*/
.mcmsSlider_pistachio_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -1040px;
}
.mcmsSlider_pistachio_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -1040px;
}
.mcmsSlider_pistachio_skin .mcmsSlider_prev > span {
	background-position: 0 -1040px;
}
.mcmsSlider_pistachio_skin .mcmsSlider_next > span {
	background-position: -40px -1040px;
}
.mcmsSlider_pistachio_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -1040px;
}
.mcmsSlider_pistachio_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -1040px	;
}
/*PINK SKIN*/
.mcmsSlider_pink_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -80px;
}
.mcmsSlider_pink_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -80px;
}
.mcmsSlider_pink_skin .mcmsSlider_prev > span {
	background-position: 0 -80px;
}
.mcmsSlider_pink_skin .mcmsSlider_next > span {
	background-position: -40px -80px;
}
.mcmsSlider_pink_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -80px;
}
.mcmsSlider_pink_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -80px;
}
/*RED SKIN*/
.mcmsSlider_red_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -1000px;
}
.mcmsSlider_red_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -1000px;
}
.mcmsSlider_red_skin .mcmsSlider_prev > span {
	background-position: 0 -1000px;
}
.mcmsSlider_red_skin .mcmsSlider_next > span {
	background-position: -40px -1000px;
}
.mcmsSlider_red_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -1000px;
}
.mcmsSlider_red_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -1000px	;
}
/*TANGERINE SKIN*/
.mcmsSlider_tangerine_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -1120px;
}
.mcmsSlider_tangerine_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -1120px;
}
.mcmsSlider_tangerine_skin .mcmsSlider_prev > span {
	background-position: 0 -1120px;
}
.mcmsSlider_tangerine_skin .mcmsSlider_next > span {
	background-position: -40px -1120px;
}
.mcmsSlider_tangerine_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -1120px;
}
.mcmsSlider_tangerine_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -1120px	;
}
/*TURQUOISE SKIN*/
.mcmsSlider_turquoise_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -1160px;
}
.mcmsSlider_turquoise_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -1160px;
}
.mcmsSlider_turquoise_skin .mcmsSlider_prev > span {
	background-position: 0 -1160px;
}
.mcmsSlider_turquoise_skin .mcmsSlider_next > span {
	background-position: -40px -1160px;
}
.mcmsSlider_turquoise_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -1160px;
}
.mcmsSlider_turquoise_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -1160px	;
}
/*VIOLET SKIN*/
.mcmsSlider_violet_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -1200px;
}
.mcmsSlider_violet_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -1200px;
}
.mcmsSlider_violet_skin .mcmsSlider_prev > span {
	background-position: 0 -1200px;
}
.mcmsSlider_violet_skin .mcmsSlider_next > span {
	background-position: -40px -1200px;
}
.mcmsSlider_violet_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -1200px;
}
.mcmsSlider_violet_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -1200px	;
}
/*WHITE SKIN*/
.mcmsSlider_white_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -80px;
}
.mcmsSlider_white_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -80px;
}
.mcmsSlider_white_skin .mcmsSlider_prev > span {
	background-position: 0 -80px;
}
.mcmsSlider_white_skin .mcmsSlider_next > span {
	background-position: -40px -80px;
}
.mcmsSlider_white_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -80px;
}
.mcmsSlider_white_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -80px;
}
/*YELLOW SKIN*/
.mcmsSlider_yellow_skin .mcmsSlider_prevThumbs div {
	background-position: -160px -1240px;
}
.mcmsSlider_yellow_skin .mcmsSlider_nextThumbs div {
	background-position: -190px -1240px;
}
.mcmsSlider_yellow_skin .mcmsSlider_prev > span {
	background-position: 0 -1240px;
}
.mcmsSlider_yellow_skin .mcmsSlider_next > span {
	background-position: -40px -1240px;
}
.mcmsSlider_yellow_skin .mcmsSlider_commands > .mcmsSlider_play {
	background-position: -80px -1240px;
}
.mcmsSlider_yellow_skin .mcmsSlider_commands > .mcmsSlider_stop {
	background-position: -120px -1240px	;
}
