<ul>
{foreach from=$pageSettings item=a name=b}
<li><div class="sepH_b cf "><label class="lbl_a">{$a.title}:</label>{include file="common/formFields/`$a.type`.tpl" field=$a prefix=$prefix classes=$classes val=$val[$a.varName] varName=$a.varName}</div></li>
{/foreach}
</ul>