#navlist {
        color: white;
        background: #17a;
        padding: 0px;
        margin: 0;
        font: bold 10px Verdana, sans-serif;
}

#navlist li {
	list-style: none;
	margin: 0px;
	padding-right:5px;
	padding-top:0px;
	font-size: 1em;
	float:left;
	width:135px;
}

#navlist a {
        display: block;
        text-decoration: none;
        margin-bottom: 0px;
        margin-top: 0px;
        color: #999999;
        background: #ebebeb;
        padding: 0.25em 0.5em 0.4em 0.75em;
}

#navlist a {
        width: 99%;
        /* only necessary for Internet Explorer */
}

#navlist a#current {
	border-left-color: #b9db93;
}

#navlist a {
        voice-family: "\"}\"";
        voice-family: inherit;
        width: 9.6em;
        /* Tantek-hack should only used if Internet-Explorer 6 is in standards-compliant mode */
}

#navcontainer
{
	padding:0px;
	margin:0px;
}
#navcontainer>#navlist a {
        width: auto;
        /* only necessary if you use the hacks above for the Internet Explorer */
}

#navlist a:hover, #navlist a#current:hover {
        background: #d2cece;
        border-color: #069 #6cf #5bd #fc0;
        padding: 0.4em 0.35em 0.25em 0.9em;
}

#navlist a:active, #navlist a#current:active {
	border-color: #069 #6cf #5bd white;
	padding: 0.4em 0.35em 0.25em 0.9em;
	background-color: #000000;
}

#LeftMenu
{
        color: #d82d01;
        padding: 0px;
        margin: 0;
        font: 12px tahoma;
}

#LeftMenu li {
        list-style: none;
        margin: 0px;
		padding-left:5px;
		padding-top:5px;
		padding-bottom:4px;
        font-size: 1em;
}



.LeftMenu  {
        text-decoration: none;
        margin-bottom: 0px;
        margin-top: 0px;
        color: #999999;
        background: #ebebeb;
        padding: 0.25em 0.5em 0.4em 0.75em;
}

a.LeftMenu:link,visited,active  {
        text-decoration: none;
        margin-bottom: 0px;
        margin-top: 0px;
        color: #999999;
        background: #ebebeb;
        padding: 0.25em 0.5em 0.4em 0.75em;
}

a.LeftMenu:hover  {
        text-decoration: underline;
        margin-bottom: 0px;
        margin-top: 0px;
        color: #999999;
        background: #ebebeb;
        padding: 0.25em 0.5em 0.4em 0.75em;
}

#List
{
        color: #999999;
        padding: 0px;
        margin: 0;
        font: 11px tahoma;
}

#List li {
        list-style: none;
        margin: 0px;
		padding-left:5px;
		padding-top:5px;
		padding-bottom:4px;
        font-size: 1em;
}
